{% extends "base.html" %}
{% load staticfiles %}

<title>{% block title %}Галерея{% endblock %}</title>

 {% block content %}

 {% endblock %}
<h1>Галерея</h1>
{% block work-area %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-title text-center color-black animated" data-animation="fadeInRight" data-animation-delay="300">Приветствуем Вас в нашем магазине!</h2>
                <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="500">Исходя из структуры пирамиды Маслоу, опрос охватывает фирменный нишевый проект.</p>
                <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="500">Рекламоноситель, пренебрегая деталями, основан на тщательном анализе данных.</p>
            </div>
        </div>
        <div class="row welcome-block">
            <div class="col-sm-3">
                <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="300"><i class="fa fa-shopping-cart"></i>
                    <h3>Быстрая покупка</h3>
                    <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="500"><i class="fa fa-car"></i>
                    <h3>Доставка по России</h3>
                    <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-money"></i>
                    <h3>Продажа шаблонов</h3>
                    <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="900"><i class="fa fa-credit-card"></i>
                    <h3>Оплачивайте здесь</h3>
                    <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="container container-photo">

        <div class="row welcome-block">
            <div class="col-sm-3">
                <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="300"><i class="fa fa-shopping-cart"></i>
                    <h3>Быстрая покупка</h3>
                    <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="500"><i class="fa fa-car"></i>
                    <h3>Доставка по России</h3>
                    <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-money"></i>
                    <h3>Продажа шаблонов</h3>
                    <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="900"><i class="fa fa-credit-card"></i>
                    <h3>Оплачивайте здесь</h3>
                    <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock work-area %}
 {% block top-sale %}
 {% endblock top-sale %}
{% block brands-section %}
{% endblock brands-section %}
{% block new-additions %}
{% endblock new-additions %}

