{% extends "base.html" %}
{% load static %}
{% load pagination_tags %}
    <title>{% block title %}Главная{% endblock %}</title>
{% block content %}
<body id="video-bg">
{#<style>#}
{##}
{#/*    .pagination{#}
{#        margin-top: {{ height_block }};#}
{#        margin-left: 600px;#}
{#        width: 800px;#}
{#    }*/#}
{#</style>#}
{% block video-baner %}{% endblock video-baner %}
    {% block additions %} {% endblock additions %}
        <section id="new-additions" class="new-additions section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInRight" data-animation-delay="500">
                    <h2 class="section-title animated" data-animation="fadeInRight" data-animation-delay="300">Специальные предложения</h2>
                    <p class="sub-title animated" data-animation="fadeInLeft" data-animation-delay="300">Метод изучения рынка индуктивно ускоряет медиабизнес. Сегмент рынка развивает институциональный контент, опираясь на опыт западных коллег.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="800">
                    <div id="new-additions-carousel" class="new-additions-carousel">

                        {% for all_goods_random_s in all_goods_random %}
                        <div class="new-additions-items active">
                            <div class="add-item">
                                <img src="{{ MEDIA_URL }}{{ all_goods_random_s.4 }}" width="170" height="150" class="img-responsive">
                                </a>
                            </div>
                            <h4>{{ all_goods_random_s.1 }}</h4><!--название товара-->
                            <h5>{{ all_goods_random_s.2 }}</h5><!--Категория-->
                            <h3><a href="{% url "show" pk=all_goods_random_s.0 %}">Подробнее</a></h3>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="row loadmore-btn">
                <div class="col-md-12 load-post text-center">
                    <button type="button" class="btn load-posts loadmore">Еще</button>
                </div>
            </div>
        </div>
    </section>
   <!-- new-additions end-->
    <section id="top-sale" class="top-sale-section">
        <div class="container my_container-index">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Что мы можем Вам предложить?</h2>
                    <p class="sub-title">Метод изучения рынка индуктивно ускоряет медиабизнес. Сегмент рынка развивает институциональный контент, опираясь на опыт западных коллег.</p>
                </div>
            </div>
            <div class="row button-block">
                <div class="col-md-12">
                    <ul>
                        <li class="pull-right">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="btn-group list view-type">Показать как:</li>
                                <li class="btn-group list active" role="presentation" ><a href="{% url 'goods' %}" title="Списком" role="tab" style="cursor: pointer;"><i class="fa fa-th-list"></i></a>
                                </li>
                                <li class="btn-group grid" role="presentation"><a href="{% url "index" %}" title="Сеткой" role="tab" ><i class="fa fa-th-large"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="btn-group item-sort">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="pull-right"><i class="fa fa-angle-down"></i></span>Сортировать: <span>Выберите вариант</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">По цене</a>
                                </li>
                                <li><a href="#">По популярности</a>
                                </li>
                                <li><a href="#">По дате</a>
                                </li>
                                <li><a href="#">По доставке</a>
                                </li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn btn-default top-icon"><i class="fa fa-arrow-up"></i>
                            </button>
                        </li>
                        <li class="btn-group item-categories">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="pull-right"><i class="fa fa-angle-down"></i></span>Выбрать: <span>категорию</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Техника</a>
                                </li>
                                <li><a href="#">Одежда</a>
                                </li>
                                <li><a href="#">Недвижимость</a>
                                </li>
                                <li><a href="#">Продукты</a>
                                </li>
                                <li><a href="#">Все</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% autopaginate all_goods 12 %}
            {% paginate %}
                <div class="my_row">

                    {% for all_goods_s in all_goods %}

                        <div class="chaild_grid">
                            <div class="prodect-box">
                                <div class="photo-block-">
                                    <a data-rel="prettyPhoto-" href="/media/img/36.jpg" title="Название товара" class="link">
                                        <i class="fa- fa-plus-"></i></a>

                                    <img src="{{ MEDIA_URL }}{{ all_goods_s.4 }}" alt="item" class="img-responsive">
                                </div>
                                <div  class="prodect-details border_image">
                                    <h4>{{ all_goods_s.2 }}</h4>{#Категория#}
                                    <h3>{{ all_goods_s.1 }}</h3>
                                    <h2>цена: {{ all_goods_s.3 }}</h2>
{#                                    <p>#}
{#                                    <div class="border_two_line"><span class="color_star rating">&#9733;</span> <span class="color_star_two">&#9734;</span><span class="my_reiting">- рейтинг товара</span></div>#}
{#                                    </p>#}
                                    <div class="row- shoping-details">
                                        <div class="my_cart_reed">
                                            <div><a href="{% url 'shop_cart' %}?i={{ all_goods_s.0 }}&name={{ all_goods_s.1 }}&price={{ all_goods_s.3 }}&img={{ media_url_cart }}{{ all_goods_s.4 }}" class="add-card-text"><span class="fa fa-shopping-cart"></span><span class="span-cart-index">В корзину</span></a>
                                            </div>
{#                                            <div ><a href="{% url "show" %}?i={{ all_goods_s.0 }}" class="show-link">Читать...<span class="right-icon-"></span></a>#}
                                              <div ><a href="{% url "show" pk=all_goods_s.0 %}" class="show-link">Подробнее...<span class="right-icon-"></span></a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            <div class="pagin-down">{% paginate %}</div>
        </div>
        </div>
    </section>

    <section class="work-area section my_work-area-index">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title text-center color-black animated" data-animation="fadeInRight" data-animation-delay="300">Приветствуем Вас в нашем магазине!</h2>
                    <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="500">Исходя из структуры пирамиды Маслоу, опрос охватывает фирменный нишевый проект.</p>
                    <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="500">Рекламоноситель, пренебрегая деталями, основан на тщательном анализе данных.</p>
                </div>
            </div>
            <div class="row welcome-block">
                <div class="col-sm-3 my-col-sm-3">
                    <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="300"><i class="fa fa-shopping-cart"></i>
                        <h3>Быстрая покупка</h3>
                        <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3 my-col-sm-3">
                    <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="500"><i class="fa fa-car"></i>
                        <h3>Доставка по России</h3>
                        <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3 my-col-sm-3">
                    <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-money"></i>
                        <h3>Продажа шаблонов</h3>
                        <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3 my-col-sm-3">
                    <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="900"><i class="fa fa-credit-card"></i>
                        <h3>Оплачивайте здесь</h3>
                        <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

{% endblock content %}
{% block brands %}{% endblock brands %}
{% block js %}<script type="text/javascript" src="{% static "/shop_app/js/script.js" %}" rel="stylesheet"></script>{% endblock js %}
{#{% block js-1 %}{% endblock js-1 %}#}
{% block react %}{% endblock react %}