{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Личный кабинет{% endblock %}</title>
{% block video-baner %}{% endblock %}
{% block content %}
{#    <style>#}
{#        input.button-lk {#}
{#            position: -webkit-sticky;#}
{#            position: sticky;#}
{#            top: 50%;#}
            {#background-color: yellow;#}
            {#padding: 50px;#}
            {#font-size: 20px;#}
{#        }#}
{#    </style>#}
    <link href="{% static "big_retail/css/my_style.css" %}" rel="stylesheet" type="text/css">
{#<div>#}
{#    <div>{{ i.0.2 }}11111</div><br>#}
{##}
{#    {% if user.is_authenticated %}{% endif %}#}
{##}
{#    {% for i_s in i %}#}
{#        <div class="submit_a_request-less">#}
{#        <div>{{ i_s.0 }}</div>#}
{#        <div>{{ i_s.1 }}</div>#}
{##}
{##}
{#        <div> <img src="{{ i_s.3 }}" height="100px"; width="100px"> </div><br>#}
{#        </div>#}
{#    {%  endfor %}#}
{#</div>#}
{#<section></section>#}
<div class="content-lk">
    <input class="button-lk" type="button" onclick="history.back();" value="Назад"/>
    <h2><div  class="child-active-lk"> Номер заказа: {{ i.0.4 }}</div></h2>
    <h2><div  class="child-active-lk"> Дата покупки: {{ i.0.2 }}</div></h2>


    <div class="parent_lk">
    {% for i_s in i %}
        <div class="child_lk border-lk">
        <div> <img class="img-lk" src="{{ i_s.3 }}" height="100px"; width="100px"> </div>

            <div>Название: {{ i_s.0 }}</div>
            <div>Сумма: {{ i_s.1 }}</div>

        </div>
    {%  endfor %}
    </div>
{#    <input class="button-lk" type="button" onclick="history.back();" value="Назад"/>#}
</div>
{#    <script>#}
{#        function onclickMenu(){#}
{#            console.log('my-collapse')#}
{#            console.log(document.getElementsByClassName('my-collapse')[0].classList.contains('in'))#}
{#            if(document.getElementsByClassName('my-collapse')[0].classList.contains('in') == false || document.getElementsByClassName('my-collapse')[0].style.display == 'none' ){#}
{#                document.getElementsByClassName('my-collapse')[0].classList.add('in')#}
{#                document.getElementsByClassName('my-collapse')[0].style.display = 'block'#}
{#                document.getElementsByClassName('my-collapse')[0].style.visibility = 'visible'#}
{#            }#}
{#            else{#}
{#                document.getElementsByClassName('my-collapse')[0].classList.remove('in')#}
{##}
{#                document.getElementsByClassName('my-collapse')[0].style.display = 'none'#}
{#                document.getElementsByClassName('my-collapse')[0].style.visibility = 'hidden'#}
{##}
{#            }#}
{#        }#}
{#    </script>#}
{% endblock content %}
{% block brands %}{% endblock brands %}
{% block js %}<script type="text/javascript" src="{% static "/shop_app/js/script.js" %}" rel="stylesheet"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "big_retail/js/lk.js" %}"></script><!--без этого не загружается 2212-->

{% endblock js %}
{#{% block js-1 %}{% endblock js-1 %}#}
{% block react %}{% endblock react %}