{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">{% endblock css %}

<title>{% block title %}Личный кабинет{% endblock %}</title>
{% block video-baner %}{% endblock %}
{% block content %}
    <link href="{% static "big_retail/css/my_style.css" %}" rel="stylesheet" type="text/css">
    {% if user.is_authenticated %}
        {{ posts }}
{#        <h2><div>Ваше имя: {{ request.user.username  }}</div></h2>#}
{#        <h2><div>Номер заказа: {{ products.0.bill_id }}</div></h2>#}

        <!--bootstrap start-->
        <div class="my_container_media center-tables-lk">
        <div class="panel panel-default">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Дата</th>
                <th scope="col">Сумма</th>
                <th scope="col">Телефон</th>
            </tr>
            </thead>
            <tbody>

            {% for products_is in us_id_s %}
                <tr>

                <td><a href="{% url 'lk' pk=products_is.0 %}">{{ products_is.0 }}</a></td>
                    <td>{{ products_is.2|date:"d M Y" }}</td>
                    {#                <div>Номер заказа: <a href="{% url 'lk' %}?i={{ products_is.0 }}">{{ products_is.0 }}</a></div><br>#}
                    <td>{{ products_is.1 }}</td>
                    {#        <div> <img src="{{ products_is.2}}" height="100px"; width="100px"> </div><br>#}
                    <td>{{ products_is.4 }}</td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
        </div>
        <!--bootstrap end-->


    {% endif %}
{% endblock content %}
{% block brands %}{% endblock brands %}
{% block js %}<script type="text/javascript" src="{% static "/shop_app/js/script.js" %}" rel="stylesheet"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock js %}
{#{% block js-1 %}{% endblock js-1 %}#}
{% block react %}{% endblock react %}