{% extends "base.html" %}
{% load staticfiles %}


<title>{% block title %}Корзина{% endblock %}</title>

 {% block content %}
     <div class="alert alert-dark" role="alert">Страница офомления заказа</div>
     {% for shop_order in session_array %}
         <div class="container-fluid">
             <div class="col-auto">
                    <div>{{ shop_order.0 }}</div>
                 <form action="/main/dell_goods" method="get">
                     <button value="{{ shop_order.0 }}" name="id" class="btn btn-outline-danger">Удалить</button>
                 </form>
                 <a href="http://127.0.0.1:8000/main/send_order"><button value="" class="btn btn-outline-success">Купить</button></a>
            </div>
         </div>
     {% endfor %}




{% endblock %}

{% comment %}<input type="checkbox" name="gender" value="1" />
{% endcomment %}