{% extends "base.html" %}
{% load staticfiles %}
<title>{% block title %}Детали{% endblock %}</title>

 {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
             <div class="img-thumbnail">
                <img src="{% static "media/img/no_image_app_content.jpg" %}" alt="нет фото" width="150" height="150">
            </div>
        </div>
    </div>

        <div class="col-md-24">
              <h4>Детальное описание товара</h4>
  <p>Здесь можно ознакомиться с характеристиками товара:</p>

           </div>
        </div>

   {% comment %}{{ MEDIA_URL }}{{ no_image_app_content.image }}
   <table class="table table-responsive">
            <thead>
              <tr>
                <th>Наименование</th>
                <th>Описание</th>
              </tr>
            </thead>
          </table>{% endcomment %}
      {% for sh in show %}
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-1">
                  <div class="alert-success">{{ sh.0 }}
                  </div><!-- /.id -->
              </div>

          <div class="col-lg-3">
                <div class="alert-success">{{ sh.1 }}
                </div><!-- /.goodsname-->
          </div>
           <div class="col-1">
                    <div class="alert-success">{{ sh.2 }}
                    </div><!-- /.catid -->
                </div>
            <div class="col-2">
                    <div class="alert-success">{{ sh.3 }}
                    </div><!-- /.price -->
                </div>
               <div class="col-2">
                   <div class="alert-success">{{ sh.4 }}
                    </div><!-- /.img -->
                </div>
               <div class="col-3">
                   <div class="alert-success">{{ sh.5 }}
                    </div><!-- /.desc-->
               </div>

      </div><!---->
          </div> <!/.container-fluid---->
            <div class="col-auto">
                <a class="navbar-brand" href="http://127.0.0.1:8000/main/shop_billing?i={{ sh.0 }}&name={{ sh.1 }}&price={{ sh.3 }}&img={{ sh.4 }}"><input type="button" class="btn btn-success" value="Заказать "></a>
            </div>
      {% endfor %}



{% endblock %}
{% comment %}{{ sh.3 }}{% endcomment %}