<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>Big retail - HTML шаблон интернет-магазина</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="css/hover-min.css" rel="stylesheet" type="text/css">
    <link href="css/flexisel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="css/YTPlayer.css" rel="stylesheet" type="text/css">
    <link href="css/flaticon.css" rel="stylesheet" type="text/css">
    <link href="css/themes/theme.css" id="changeable-colors" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
</head>

<body id="about-us">
    <div id="pageloader">
        <div class="loader-item fa fa-spin colored-border"></div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar">
                        <div class="navbar-header">
                            <ul class="header-top-left">
                                <li class="dropdown collapse navbar-collapse" id="bs-example-navbar-collapse-1">Язык<a class="dropdown-toggle" data-toggle="dropdown" href="#">[ <span>RU<i class="fa fa-angle-down"></i></span> ]</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><span><img src="images/top-navigation/flag1.jpg" alt="Language-flag"></span>ENG</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag2.jpg" alt="Language-flag"></span>GER</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag3.jpg" alt="Language-flag"></span>FRE</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag4.jpg" alt="Language-flag"></span>ITA</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag5.jpg" alt="Language-flag"></span>SPA</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="mailto:email@example.com"><i class="flaticon-black164"></i> mail@mail.com</a>
                                </li>
                                <li><a href="#"><i class="flaticon-phone46"></i> +7 123 456 78 90</a>
                                </li>
                            </ul>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="flaticon-list50"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav navbar-right section-hidden">
                            <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="total">
                                        <h5>Итого: 1 500 р.</h5>
                                    </li>
                                    <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Опталить</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>
                            </li>
                            <li><a href="#">Регистрация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-section" class="sticky-navigation">
        <nav class="navbar navbar-default menu-bar" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <div class="site-logo"><a title="" href="index.html">Big retail</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right section-show">
                                <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="total">
                                            <h5>Итого: 1 500 р.</h5>
                                        </li>
                                        <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Оплатить</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="login-style"><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>
                                </li>
                                <li class="register-border"><a href="#">Регистрация</a>
                                </li>
                            </ul>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"><span class="menu-box"><span class="menu">Меню</span><i class="flaticon-list50 menu-button"></i>
                                </span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Главная</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-1"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-1 collapse">
                                        <li><a href="index.html">Главная #1</a>
                                        </li>
                                        <li><a href="index-2.html">Главная #2</a>
                                        </li>
                                        <li><a href="index-3.html">Главная #3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle active">О нас</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-2 collapse">
                                        <li><a href="about-us.html">О компании</a>
                                        </li>
                                        <li><a href="services.html">Услуги</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Товары</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-3"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-3 collapse">
                                        <li class="dropdown"><a href="shop-list.html" class="dropdown-toggle">Магазин</a> <span class="submenu-toggler collapsed" data-toggle="collapse" data-target=".collapse-4"><i class="fa fa-angle-right"></i></span>
                                            <ul role="menu" class="sub-menu collapse-4 collapse">
                                                <li><a href="shop-list.html">Список товаров</a>
                                                </li>
                                                <li><a href="shop-detail.html">Описание товара</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="cart.html">Корзина</a>
                                        </li>
                                        <li><a href="check-out.html">Оплата</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Галерея</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">
                                        <li><a href="portfolio.html">Портфолио</a>
                                        </li>
                                        <li><a href="portfolio-single.html">Описание</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Новости</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">
                                        <li><a href="blog.html">Новости</a>
                                        </li>
                                        <li><a href="blog-single.html">Описание</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contacts.html">Контакты</a>
                                </li>
                                <li class="search"><a href="#search-toggle-right" id="search-toggle"><i class="glyphicon glyphicon-search"></i></a>
                                </li>
                                <li class="search-form">
                                    <form role="search" class="navbar-form">
                                        <div class="input-group">
                                            <input type="text" name="q" placeholder="Искать.." class="form-control">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default">ОК</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="500">О нашей компании</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="500">Несмотря на сложности, маркетинговая активность изменяет эксклюзивный жизненный цикл продукции.</p>
                </div>
            </div>
        </div>
    </div>
    <section id="team" class="team-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title text-center animated" data-animation="fadeInRight" data-animation-delay="500">Наши специалисты</h2>
                    <p class="sub-title text-center animated" data-animation="fadeInLeft" data-animation-delay="500">Согласно ставшей уже классической работе Филипа Котлера, организация практического взаимодействия специфицирует целевой трафик.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="800">
                    <div id="team-slider" class="team-carousel-slider">
                        <div class="team-item"><img src="images/team/1.png" width="370" height="225" alt="" class="img-responsive">
                            <div class="team-content">
                                <h3 class="name">Иван Дионтьев</h3>
                                <h4 class="designation">специалист</h4>
                                <p class="description">Тактика выстраивания отношений с коммерсчекими агентами концентрирует стратегический рейтинг. Восприятие марки усиливает эмпирический департамент маркетинга и продаж.</p>
                                <div class="social-team">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item"><img src="images/team/2.png" width="370" height="225" alt="" class="img-responsive">
                            <div class="team-content">
                                <h3 class="name">Иван Дионтьев</h3>
                                <h4 class="designation">специалист</h4>
                                <p class="description">Тактика выстраивания отношений с коммерсчекими агентами концентрирует стратегический рейтинг. Восприятие марки усиливает эмпирический департамент маркетинга и продаж.</p>
                                <div class="social-team">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item"><img src="images/team/3.png" width="370" height="225" alt="" class="img-responsive">
                            <div class="team-content">
                                <h3 class="name">Иван Дионтьев</h3>
                                <h4 class="designation">специалист</h4>
                                <p class="description">Тактика выстраивания отношений с коммерсчекими агентами концентрирует стратегический рейтинг. Восприятие марки усиливает эмпирический департамент маркетинга и продаж.</p>
                                <div class="social-team">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item"><img src="images/team/4.png" width="370" height="225" alt="" class="img-responsive">
                            <div class="team-content">
                                <h3 class="name">Иван Дионтьев</h3>
                                <h4 class="designation">специалист</h4>
                                <p class="description">Тактика выстраивания отношений с коммерсчекими агентами концентрирует стратегический рейтинг. Восприятие марки усиливает эмпирический департамент маркетинга и продаж.</p>
                                <div class="social-team">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item"><img src="images/team/5.png" width="370" height="225" alt="" class="img-responsive">
                            <div class="team-content">
                                <h3 class="name">Иван Дионтьев</h3>
                                <h4 class="designation">специалист</h4>
                                <p class="description">Тактика выстраивания отношений с коммерсчекими агентами концентрирует стратегический рейтинг. Восприятие марки усиливает эмпирический департамент маркетинга и продаж.</p>
                                <div class="social-team">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item"><img src="images/team/6.png" width="370" height="225" alt="" class="img-responsive">
                            <div class="team-content">
                                <h3 class="name">Иван Дионтьев</h3>
                                <h4 class="designation">специалист</h4>
                                <p class="description">Тактика выстраивания отношений с коммерсчекими агентами концентрирует стратегический рейтинг. Восприятие марки усиливает эмпирический департамент маркетинга и продаж.</p>
                                <div class="social-team">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item"><img src="images/team/7.png" width="370" height="225" alt="" class="img-responsive">
                            <div class="team-content">
                                <h3 class="name">Иван Дионтьев</h3>
                                <h4 class="designation">специалист</h4>
                                <p class="description">Тактика выстраивания отношений с коммерсчекими агентами концентрирует стратегический рейтинг. Восприятие марки усиливает эмпирический департамент маркетинга и продаж.</p>
                                <div class="social-team">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scrolling text-center"><span>Навигация</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="about-us-content-section section slant-angle">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="animated" data-animation="fadeInUp" data-animation-delay="300">Миссия, цели и задачи</h2>
                    </div>
                </div>
                <div class="row about-content">
                    <div class="col-md-4">
                        <div class="office-image animated" data-animation="fadeInLeft" data-animation-delay="500"><img src="images/about-us/our-company.png" width="300" height="210" alt="about-image" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-8 animated" data-animation="fadeInRight" data-animation-delay="500">
                        <h3>История развития</h3>
                        <p>Правда, специалисты отмечают, что бизнес-план создает рыночный сегмент рынка. Интересно отметить, что маркетингово-ориентированное издание порождает рекламоноситель. Изменение глобальной стратегии, в рамках сегодняшних воззрений, однообразно стабилизирует конкурент, осознав маркетинг как часть производства.</p>
                        <p class="next-content">Изменение глобальной стратегии индуцирует выставочный стенд. Инвестиционный продукт специфицирует из ряда вон выходящий побочный PR-эффект. Создание приверженного покупателя, суммируя приведенные примеры, последовательно усиливает сублимированный формат события.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="know-about-us-section slant-angle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Взаимодействие корпорации и клиента развивает стратегический рыночный план.</h2>
                    <p class="sub-title animated" data-animation="fadeInLeft" data-animation-delay="300">В общем, имидж предприятия одновременно экономит поведенческий таргетинг, осознав маркетинг как часть производства. Привлечение аудитории, анализируя результаты рекламной кампании, поразительно.</p>
                </div>
            </div>
            <div class="row tap-section">
                <div class="col-md-6 col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="400">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading"><a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapseOne"><h3>Бесплатная доставка</h3></a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>В общем, имидж предприятия одновременно экономит поведенческий таргетинг, осознав маркетинг как часть производства. Привлечение аудитории, анализируя результаты рекламной кампании, поразительно.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><a data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion" href="#collapseTwo"><h3>Варианты оплаты</h3></a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>В общем, имидж предприятия одновременно экономит поведенческий таргетинг, осознав маркетинг как часть производства. Привлечение аудитории, анализируя результаты рекламной кампании, поразительно.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><a data-toggle="collapse" class="accordion-toggle collapsed" data-parent="#accordion" href="#collapseThree"><h3>Производство товаров</h3></a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>В общем, имидж предприятия одновременно экономит поведенческий таргетинг, осознав маркетинг как часть производства. Привлечение аудитории, анализируя результаты рекламной кампании, поразительно.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="500">
                    <ul class="skill-counter-section">
                        <li>
                            <h3>Доставка<span>100%</span></h3>
                            <div class="progress">
                                <div class="bar progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-percentage="100"></div>
                            </div>
                        </li>
                        <li>
                            <h3>Продажа<span>90%</span></h3>
                            <div class="progress">
                                <div class="bar progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-percentage="90"></div>
                            </div>
                        </li>
                        <li>
                            <h3>Партнерство<span>75%</span></h3>
                            <div class="progress">
                                <div class="bar progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-percentage="75"></div>
                            </div>
                        </li>
                        <li>
                            <h3>Обслуживание<span>85%</span></h3>
                            <div class="progress">
                                <div class="bar progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-percentage="85"></div>
                            </div>
                        </li>
                        <li>
                            <h3>Комплексность<span>50%</span></h3>
                            <div class="progress">
                                <div class="bar progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" data-percentage="50"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section id="skill" class="skill section slant-angle">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="color-white animated" data-animation="fadeInRight" data-animation-delay="300">Бренд, как принято считать, трансформирует PR</h2>
                        <p class="sub-title animated" data-animation="fadeInLeft" data-animation-delay="300">Как предсказывают футурологи целевой трафик программирует институциональный нишевый проект. Перераспределение бюджета позиционирует имидж предприятия.</p>
                    </div>
                </div>
                <div class="row">
                    <div id="skill-slider" class="price-carousel-slider">
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="37" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="65" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="80" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="100" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                    </div>
                    <div class="scrolling text-center"><span>Навигация</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="with-us" class="partners-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInRight" data-animation-delay="500">
                    <h2 class="section-title text-center color-black animated" data-animation="fadeInRight" data-animation-delay="300">Наши партнеры</h2>
                    <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="300">Согласно ставшей уже классической работе Филипа Котлера, организация практического взаимодействия специфицирует целевой трафик.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="800">
                    <div id="partners-slider" class="partners-carousel-slider">
                        <div class="partner-item"><img src="images/partners/partner-01.png" class="img-responsive">
                        </div>
                        <div class="partner-item"><img src="images/partners/partner-02.png" class="img-responsive">
                        </div>
                        <div class="partner-item"><img src="images/partners/partner-03.png" class="img-responsive">
                        </div>
                        <div class="partner-item"><img src="images/partners/partner-04.png" class="img-responsive">
                        </div>
                        <div class="partner-item"><img src="images/partners/partner-05.png" class="img-responsive">
                        </div>
                        <div class="partner-item"><img src="images/partners/partner-01.png" class="img-responsive">
                        </div>
                        <div class="partner-item"><img src="images/partners/partner-02.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="review" class="review-section slant-angle section">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div id="reviewslider">
                        <div class="col-md-12 item">
                            <p>“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            <h3>Иван дионтьев</h3><a href="#">пратнер</a>
                        </div>
                        <div class="col-md-12 item">
                            <p>“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            <h3>Иван дионтьев</h3><a href="#">пратнер</a>
                        </div>
                        <div class="col-md-12 item">
                            <p>“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            <h3>Иван дионтьев</h3><a href="#">пратнер</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="testimonials-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInRight" data-animation-delay="500">
                    <h2 class="section-title text-center animated" data-animation="fadeInRight" data-animation-delay="300">Отзывы</h2>
                    <p class="sub-title text-center animated" data-animation="fadeInLeft" data-animation-delay="300">Согласно ставшей уже классической работе Филипа Котлера, организация практического взаимодействия специфицирует целевой трафик.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="800">
                    <div id="testimonials-slider" class="team-carousel-slider">
                        <div class="row testimonials-item">
                            <div class="col-xs-4 no-padding">
                                <div class="author-img"><img src="images/testimonials/1.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-8 testimonial-content">
                                <div class="author-details">
                                    <h2 class="name">Иван Дионтьев</h2>
                                    <h3 class="designation">специалист</h3>
                                </div>
                                <p class="description">“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            </div>
                        </div>
                        <div class="row testimonials-item">
                            <div class="col-xs-4 no-padding">
                                <div class="author-img"><img src="images/testimonials/2.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-8 testimonial-content">
                                <div class="author-details">
                                    <h2 class="name">Иван Дионтьев</h2>
                                    <h3 class="designation">специалист</h3>
                                </div>
                                <p class="description">“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            </div>
                        </div>
                        <div class="row testimonials-item">
                            <div class="col-xs-4 no-padding">
                                <div class="author-img"><img src="images/testimonials/3.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-8 testimonial-content">
                                <div class="author-details">
                                    <h2 class="name">Иван Дионтьев</h2>
                                    <h3 class="designation">специалист</h3>
                                </div>
                                <p class="description">“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            </div>
                        </div>
                        <div class="row testimonials-item">
                            <div class="col-xs-4 no-padding">
                                <div class="author-img"><img src="images/testimonials/4.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-8 testimonial-content">
                                <div class="author-details">
                                    <h2 class="name">Иван Дионтьев</h2>
                                    <h3 class="designation">специалист</h3>
                                </div>
                                <p class="description">“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            </div>
                        </div>
                        <div class="row testimonials-item">
                            <div class="col-xs-4 no-padding">
                                <div class="author-img"><img src="images/testimonials/5.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-8 testimonial-content">
                                <div class="author-details">
                                    <h2 class="name">Иван Дионтьев</h2>
                                    <h3 class="designation">специалист</h3>
                                </div>
                                <p class="description">“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            </div>
                        </div>
                        <div class="row testimonials-item">
                            <div class="col-xs-4 no-padding">
                                <div class="author-img"><img src="images/testimonials/6.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-8 testimonial-content">
                                <div class="author-details">
                                    <h2 class="name">Иван Дионтьев</h2>
                                    <h3 class="designation">специалист</h3>
                                </div>
                                <p class="description">“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            </div>
                        </div>
                        <div class="row testimonials-item">
                            <div class="col-xs-4 no-padding">
                                <div class="author-img"><img src="images/testimonials/7.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-8 testimonial-content">
                                <div class="author-details">
                                    <h2 class="name">Иван Дионтьев</h2>
                                    <h3 class="designation">специалист</h3>
                                </div>
                                <p class="description">“ Продукт, пренебрегая деталями, раскручивает культурный инструмент маркетинга, осознав маркетинг как часть производства. Представляется логичным, что нестандартный подход основан на опыте. ”</p>
                            </div>
                        </div>
                    </div>
                    <div class="scrolling text-center"><span>Навигация</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer" class="footer-bg">
        <div class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 animated" data-animation="fadeInUp" data-animation-delay="300">
                        <h3>О магазине</h3>
                        <p>Ретроконверсия национального наследия реально изменяет формирование имиджа. Еще Траут показал, что мониторинг активности вполне вероятен. Узнавание бренда экономит тактический инструмент маркетинга.</p>
                        <ul>
                            <li>Россия, Москва</li>
                            <li>ул. Пушкина 23а</li>
                            <li>mail@mail.com</li>
                            <li>+7 123 456 789</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние статьи</h3>
                        <ul>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние новости</h3>
                        <ul>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 flickr animated" data-animation="fadeInUp" data-animation-delay="900">
                        <h3>Галерея</h3>
                        <ul>
                            <li><img src="images/flickr/1.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/2.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/3.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/4.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/5.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/6.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/7.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/8.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-rights-bg">
            <div class="copy-rights-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright-content">&copy; 2016 Big retail - HTML шаблон интернет-магазина</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="social-icon"><a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-tumblr tumblr-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a> <a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.content_slider.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    
    <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="js/option.js"></script>
    <script type="text/javascript" src="js/jquery.nstSlider.js"></script>
    <script type="text/javascript" src="js/idangerous.swiper.min.js"></script>
    <script type="text/javascript" src="js/idangerous.swiper.progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>

</body>

</html>