<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>Big retail - HTML шаблон интернет-магазина</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="css/flexisel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/flexslider.css" rel="stylesheet" type="text/css">
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="css/YTPlayer.css" rel="stylesheet" type="text/css">
    <link href="css/flaticon.css" rel="stylesheet" type="text/css">
    <link href="css/themes/theme.css" id="changeable-colors" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
</head>

<body id="blog">
    <div id="pageloader">
        <div class="loader-item fa fa-spin colored-border"></div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar">
                        <div class="navbar-header">
                            <ul class="header-top-left">
                                <li class="dropdown collapse navbar-collapse" id="bs-example-navbar-collapse-1">Язык<a class="dropdown-toggle" data-toggle="dropdown" href="#">[ <span>RU<i class="fa fa-angle-down"></i></span> ]</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><span><img src="images/top-navigation/flag1.jpg" alt="Language-flag"></span>ENG</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag2.jpg" alt="Language-flag"></span>GER</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag3.jpg" alt="Language-flag"></span>FRE</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag4.jpg" alt="Language-flag"></span>ITA</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag5.jpg" alt="Language-flag"></span>SPA</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="mailto:email@example.com"><i class="flaticon-black164"></i> mail@mail.com</a>
                                </li>
                                <li><a href="#"><i class="flaticon-phone46"></i> +7 123 456 78 90</a>
                                </li>
                            </ul>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="flaticon-list50"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav navbar-right section-hidden">
                            <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="total">
                                        <h5>Итого: 1 500 р.</h5>
                                    </li>
                                    <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Опталить</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>
                            </li>
                            <li><a href="#">Регистрация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-section" class="sticky-navigation">
        <nav class="navbar navbar-default menu-bar" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <div class="site-logo"><a title="" href="index.html">Big retail</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right section-show">
                                <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="total">
                                            <h5>Итого: 1 500 р.</h5>
                                        </li>
                                        <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Оплатить</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="login-style"><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>
                                </li>
                                <li class="register-border"><a href="#">Регистрация</a>
                                </li>
                            </ul>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"><span class="menu-box"><span class="menu">Меню</span><i class="flaticon-list50 menu-button"></i>
                                </span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Главная</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-1"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-1 collapse">
                                        <li><a href="index.html">Главная #1</a>
                                        </li>
                                        <li><a href="index-2.html">Главная #2</a>
                                        </li>
                                        <li><a href="index-3.html">Главная #3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">О нас</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-2 collapse">
                                        <li><a href="about-us.html">О компании</a>
                                        </li>
                                        <li><a href="services.html">Услуги</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Товары</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-3"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-3 collapse">
                                        <li class="dropdown"><a href="shop-list.html" class="dropdown-toggle">Магазин</a> <span class="submenu-toggler collapsed" data-toggle="collapse" data-target=".collapse-4"><i class="fa fa-angle-right"></i></span>
                                            <ul role="menu" class="sub-menu collapse-4 collapse">
                                                <li><a href="shop-list.html">Список товаров</a>
                                                </li>
                                                <li><a href="shop-detail.html">Описание товара</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="cart.html">Корзина</a>
                                        </li>
                                        <li><a href="check-out.html">Оплата</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Галерея</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">
                                        <li><a href="portfolio.html">Портфолио</a>
                                        </li>
                                        <li><a href="portfolio-single.html">Описание</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle active">Новости</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">
                                        <li><a href="blog.html">Новости</a>
                                        </li>
                                        <li><a href="blog-single.html">Описание</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contacts.html">Контакты</a>
                                </li>
                                <li class="search"><a href="#search-toggle-right" id="search-toggle"><i class="glyphicon glyphicon-search"></i></a>
                                </li>
                                <li class="search-form">
                                    <form role="search" class="navbar-form">
                                        <div class="input-group">
                                            <input type="text" name="q" placeholder="Искать.." class="form-control">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default">ОК</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc blog">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Описание новости</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Производство достижимо в разумные сроки. Поэтому перераспределение бюджета</p>
                </div>
            </div>
        </div>
    </div>
    <section class="blog-post">
        <div class="container">
            <div class="row">
                <div class="blog-top animated" data-animation="fadeInUp" data-animation-delay="500"><img src="images/blog/2.jpg" alt="blog-photo" class="img-responsive blog-photo">
                    <div class="blog-date">
                        <h2>16</h2>
                        <p>Авг</p>
                        <h4>2016</h4>
                    </div>
                </div>
                <div class="col-md-12 animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Заголовок новости на сайте</h3>
                            <p class="blog-content">Дело в том, что объемная скидка традиционно восстанавливает обществвенный комплексный анализ ситуации. Служба маркетинга компании, как принято считать, индуцирует побочный PR-эффект. Поведенческий таргетинг усиливает рыночный системный анализ. Инструмент маркетинга сознательно экономит продвигаемый стратегический маркетинг. Управление брендом, вопреки мнению П.Друкера, синхронизирует эксклюзивный пресс-клиппинг. Сегмент рынка, на первый взгляд, экономит из ряда вон выходящий принцип восприятия.</p>
                            <p class="blog-content">Конкурент, безусловно, исключительно транслирует контент. Стратегический рыночный план охватывает потребительский рынок, расширяя долю рынка. Показ баннера без оглядки на авторитеты отталкивает ребрендинг, не считаясь с затратами.</p>
                            <div class="row post-details">
                                <div class="col-sm-3 col-md-2"><i class="fa fa-user"><span>Автор:</span></i>Иван</div>
                                <div class="col-sm-3 col-md-2"><i class="fa fa-comments"><span>Комментарии:</span></i>5</div>
                                <div class="col-sm-3 col-md-2"><i class="fa fa-folder"><span>Категория:</span></i>Новости</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="about-author">
                        <div class="thumb"><img src="images/blog-single/author.jpg" alt="author-images" class="img-responsive author-photo">
                        </div>
                        <h3>Иван Дионтьев</h3>
                        <p>Конкурент, безусловно, исключительно транслирует контент. Стратегический рыночный план охватывает потребительский рынок, расширяя долю рынка. Показ баннера без оглядки на авторитеты отталкивает ребрендинг, не считаясь с затратами.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comments-part">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>4 комментария</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="comment">
                        <div class="thumb"><img src="images/blog-single/author.jpg" alt="author-images" class="img-responsive author-photo">
                        </div>
                        <h3>Иван Дионтьев<span>31 августа 2016</span></h3>
                        <p>Стратегическое планирование, безусловно, недостижимо. Экспертиза выполненного проекта естественно переворачивает стратегический маркетинг. Жизненный цикл продукции естественно детерминирует эмпирический опрос.</p>
                        <p><a href="#">Ответить</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="comment reply">
                        <div class="thumb"></div>
                        <h3>Иван Дионтьев<span>31 августа 2016</span></h3>
                        <p>Стратегическое планирование, безусловно, недостижимо. Экспертиза выполненного проекта естественно переворачивает стратегический маркетинг. Жизненный цикл продукции естественно детерминирует эмпирический опрос.</p>
                        <p><a href="#">Ответить</a>
                        </p>
                    </div>
                    <div class="comment reply animated" data-animation="fadeInUp" data-animation-delay="500">
                        <div class="thumb"></div>
                        <h3>Иван Дионтьев<span>31 августа 2016</span></h3>
                        <p>Стратегическое планирование, безусловно, недостижимо. Экспертиза выполненного проекта естественно переворачивает стратегический маркетинг. Жизненный цикл продукции естественно детерминирует эмпирический опрос.</p>
                        <p><a href="#">Ответить</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animated" data-animation="fadeInUp" data-animation-delay="500">
                    <div class="comment">
                        <div class="thumb"><img src="images/blog-single/author.jpg" alt="author-images" class="img-responsive author-photo">
                        </div>
                        <h3>Иван Дионтьев<span>31 августа 2016</span></h3>
                        <p>Стратегическое планирование, безусловно, недостижимо. Экспертиза выполненного проекта естественно переворачивает стратегический маркетинг. Жизненный цикл продукции естественно детерминирует эмпирический опрос.</p>
                        <p><a href="#">Ответить</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="comment-form animated" data-animation="fadeInUp" data-animation-delay="500">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Оставить комментарий</h2>
                </div>
            </div>
            <p class="comment-message"></p>
            <form role="form" name="commentform" class="form-horizontal" id="commentform" method="post">
                <div class="row">
                    <div class="col-md-4 left-area">
                        <div class="input-group form-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="contact_name" class="input-name form-control" placeholder="Имя">
                        </div>
                        <div class="input-group form-group"><span class="input-group-addon"><i class="flaticon-black164"></i></span>
                            <input type="email" name="contact_email" class="input-email form-control" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="col-md-8 right-area">
                        <div class="textarea-message form-group">
                            <textarea name="contact_message" class="textarea-message form-control" placeholder="Сообщение.." rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 left-area">
                        <button class="btn btn-default" type="submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section id="footer" class="footer-bg">
        <div class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 animated" data-animation="fadeInUp" data-animation-delay="300">
                        <h3>О магазине</h3>
                        <p>Ретроконверсия национального наследия реально изменяет формирование имиджа. Еще Траут показал, что мониторинг активности вполне вероятен. Узнавание бренда экономит тактический инструмент маркетинга.</p>
                        <ul>
                            <li>Россия, Москва</li>
                            <li>ул. Пушкина 23а</li>
                            <li>mail@mail.com</li>
                            <li>+7 123 456 789</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние статьи</h3>
                        <ul>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние новости</h3>
                        <ul>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 flickr animated" data-animation="fadeInUp" data-animation-delay="900">
                        <h3>Галерея</h3>
                        <ul>
                            <li><img src="images/flickr/1.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/2.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/3.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/4.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/5.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/6.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/7.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/8.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-rights-bg">
            <div class="copy-rights-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright-content">&copy; 2016 Big retail - HTML шаблон интернет-магазина</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="social-icon"><a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-tumblr tumblr-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a> <a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/jquery.content_slider.js"></script>
    
    <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="js/option.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>

</body>

</html>