{% extends "base.html" %}
{% load staticfiles %}

{% block video-baner %}{% endblock video-baner %}

{% block content %}


    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Ваша корзина товаров</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Имиджевая реклама очевидна не для всех. Отсюда естественно следует, что программа лояльности по-прежнему востребована.</p>
                </div>
            </div>
        </div>
    </div>
    <section id="shopping-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Фото</th>
                                    <th class="product-name-title">Название товара</th>
                                    <th>Цена</th>
                                    <th>Кол-во</th>
                                    <th class="total">ИТОГО</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <!--начало товара -->
<div style="font-size: 25px; color: #0000FF; font-family: 'Lora'; text-align: center; margin-top: 30px;margin-bottom: 50px;">{{ nema }}</div>
{#                            <a href="{% url "show" pk=all_goods_random_s.0 %}" class="pull-right">#}
{#                            {% url "show" pk=all_goods_random_s.0 %}#}
{#                            <a href="{% url "show" pk=shop_bill.5 %}"></a>#}
                            {% for shop_bill in cart_seshion %}

                                <tr>
                                    <td><img src="{{ MEDIA_URL }}{{ shop_bill.2 }}" width="90" height="90" alt="shopping-cart">
                                    </td>
                                    <td class="product-name-description"><!--<a href="#">Название товара</a>-->
                                        <a href="{% url "show" pk=shop_bill.5 %}"><p class="name_prod">{{ shop_bill.0 }}</p></a> <!--название-->
                                    </td>
                                    <td class="price" style="text-align: center;">
                                        <h3>{{ shop_bill.1 }}</h3>
                                    </td>
                                    <td class="range-input" data-trigger="spinner">
                                        <div class="minus" onclick="minus(this, '{{ shop_bill.0 }}', '{{ shop_bill.5 }}')"><a href="javascript:;" data-spin="down"><i class="fa fa-minus"></i></a>
                                        </div>

                                        <input type="text" class="form-control" value="{{ shop_bill.4 }}" data-rule="quantity">
                                        <div class="plus" onclick="plus(this, '{{ shop_bill.0 }}', '{{ shop_bill.5 }}')"><a href="javascript:;" data-spin="up"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </td>
                                    <td class="total" style="text-align: center;">
                                        <h3>{{ shop_bill.6 }}</h3><span>р.</span>
                                    </td>
                                    <td class="close-button">
{#                                        <a href="#" class="fa fa-times"></a>#}
                                        <form action="/dell_goods" method="get">
                                            <button value="{{ shop_bill.0 }}" name="id" class="btn btn-danger" style="margin-bottom: -30px;">X</button>
                                            <a class="navbar-brand" href="/shop_orders"></a>
                                        </form><br><br>
                                    </td>
                                </tr>
                            {% endfor %}

                            <!--конец товара -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="delivery-total">
        <div class="container">
            <div class="row">
                <!--delivery-->
{#                <div class="col-md-6 animated" data-animation="fadeInUp" data-animation-delay="300">#}
{#                    <div class="panel panel-default">#}
{#                        <div class="panel-heading">#}
{#                            <h3>Расчет доставки</h3>#}
{#                        </div>#}
{#                        <div class="panel-body">#}
{#                            <form role="form">#}
{#                                <div class="form-group">#}
{#                                    <div class="btn-group select-country">#}
{#                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="pull-right"><i class="fa fa-angle-down"></i></span><span>Выбо региона</span>#}
{#                                        </button>#}
{#                                        <ul class="dropdown-menu" role="menu">#}
{#                                            <li><a href="#">Москва</a>#}
{#                                            </li>#}
{#                                            <li><a href="#">Санкт-Петербург</a>#}
{#                                            </li>#}
{#                                            <li><a href="#">Краснодар</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                    <div class="row">#}
{#                                        <div class="col-xs-6">#}
{#                                            <div class="form-group">#}
{#                                                <input type="text" class="form-control" placeholder="Район">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-xs-6">#}
{#                                            <div class="form-group">#}
{#                                                <input type="text" class="form-control" placeholder="Улица">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <button type="submit" class="btn btn-default apply">Посчитать</button>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <!--delivery end-->
                <div class="col-md-6 animated" data-animation="fadeInUp" data-animation-delay="300">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Итог по заказу</h3>
                        </div>
                        <div class="panel-body cart-total-detail">
                            <p><span class="pull-right main_summ">{{ main_summ_cart }} </span>Сумма товаров</p>
                            <div class="row final-total">
                                <div class="col-xs-6">
                                    <h4>К оплате: 2 000 р.</h4>
                                </div>
                                <div class="col-xs-6">
                                    <a href="/shop_orders"><button class="btn btn-default pull-right" style="background: #d9534f">Оплатить</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="top-sales-slider" class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="300">
                    <h2>Похожие товары</h2>
                </div>
            </div>
        </div>
        <div class="container slider-container animated" data-animation="fadeInUp" data-animation-delay="500">
            <div class="row">
                <div class="col-md-12">
                    <div id="top-sales">

                        {% for all_goods_random_s in all_goods_random %}
                        <div class="item">
                            <div class="thumbnail">
                                <div class="photo-block"><a class="add-cart-link-" data-rel="prettyPhoto" title="Название товара"><i class="fa fa-plus-"></i></a> <img src="{{ MEDIA_URL }}{{ all_goods_random_s.4 }}" class="img-responsive" alt="top-sales">
                                </div>
                                <div class="caption"><a href="#" class="category">{{ all_goods_random_s.2 }}</a> <a href="#">{{ all_goods_random_s.1 }}</a>
                                    <h4>{{ all_goods_random_s.3 }} р.</h4>
                                    <p>
                                        <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs"><span>- рейтинг товара</span>
                                    </p>
                                    <div class="row cart-details" style="padding-top: 10px; padding-bottom: 20px;">
                                        <div class="col-xs-6"><a href="{% url 'shop_cart' %}?i={{ all_goods_random_s.0 }}&name={{ all_goods_random_s.1 }}&price={{ all_goods_random_s.3 }}&img={{ all_goods_random_s.4 }}"><i class="fa fa-shopping-cart"></i> В корзину</a>
                                        </div>
                                        <div class="col-xs-6"><a href="{% url "show" pk=all_goods_random_s.0 %}" class="pull-right">Подробнее </a><!--<i class="fa fa-chevron-right"></i>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
{% block brands %}{% endblock brands %}
{% block footer %}<section id="footer" class="footer-bg">
    <div class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 animated" data-animation="fadeInUp" data-animation-delay="300">
                    <h3>О магазине</h3>
                    <p>Ретроконверсия национального наследия реально изменяет формирование имиджа. Еще Траут показал, что мониторинг активности вполне вероятен. Узнавание бренда экономит тактический инструмент маркетинга.</p>
                    <ul>
                        <li>Россия, Москва</li>
                        <li>ул. Пушкина 23а</li>
                        <li>mail@mail.com</li>
                        <li>+7 123 456 789</li>
                    </ul>
                </div>
                <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h3>Последние статьи</h3>
                    <ul>
                        <li><a href="#">Загловок статьи на сайте</a>
                        </li>
                        <li><a href="#">Загловок статьи на сайте</a>
                        </li>
                        <li><a href="#">Загловок статьи на сайте</a>
                        </li>
                        <li><a href="#">Загловок статьи на сайте</a>
                        </li>
                        <li><a href="#">Загловок статьи на сайте</a>
                        </li>
                        <li><a href="#">Загловок статьи на сайте</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h3>Последние новости</h3>
                    <ul>
                        <li><a href="#">Загловок новости на сайте</a>
                        </li>
                        <li><a href="#">Загловок новости на сайте</a>
                        </li>
                        <li><a href="#">Загловок новости на сайте</a>
                        </li>
                        <li><a href="#">Загловок новости на сайте</a>
                        </li>
                        <li><a href="#">Загловок новости на сайте</a>
                        </li>
                        <li><a href="#">Загловок новости на сайте</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 flickr animated" data-animation="fadeInUp" data-animation-delay="900">
                    <h3>Галерея</h3>
                    <ul>
                        <li><img src="#" alt="#" class="img-responsive">
                        </li>
                        <li><img src="#" alt="#" class="img-responsive">
                        </li>
                        <li><img src="#" alt="#" class="img-responsive">
                        </li>
                        <li><img src="#" alt="#" class="img-responsive">
                        </li>
                        <li><img src="#" alt="#" class="img-responsive">
                        </li>
                        <li><img src="#" alt="#" class="img-responsive">
                        </li>
                        <li><img src="#" alt="#" class="img-responsive">
                        </li>
                        <li><img src="#" alt="#" class="img-responsive">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-rights-bg">
        <div class="copy-rights-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright-content">&copy; 2016 Big retail - HTML шаблон интернет-магазина</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icon"><a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-tumblr tumblr-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a> <a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function plus(mythis, productName){ // из функции plus идём от this по дому к единице .value) + 1
        if (Number(mythis.previousElementSibling.value < 10)) {
            {#var plusOne = Number(thisplus.previousElementSibling.innerHTML)#}
            {#console.log(mythis.previousElementSibling.value)#}
            var plusOne = Number(mythis.previousElementSibling.value) + 1 // для прорисовки в шаблоне увеличение на один каждое нажатие
            {#console.log(mythis.previousElementSibling.value)#}
            {#console.log(mythis.parentNode.nextElementSibling.childNodes[1].innerHTML)#}

            {#console.log(productName)#}
            {#console.log(productId)#}
            var first_price_plus = mythis.parentNode.previousElementSibling.childNodes[1].innerHTML // начальная цена одного товара
            console.log(first_price_plus)
            document.getElementsByClassName('main_summ')[0].innerHTML = Number(document.getElementsByClassName('main_summ')[0].innerHTML) + Number(first_price_plus) // к общей сумме пр нажатиии на плюсик
            // приплюсовывается начальная цена одного товара
            $.ajax({
                url: '/final_order',
                type: 'get',
                data: {name: productName},
                success: function (response) { // в респонсе прилетает общая сумма количство нажатий  умноженное на цену товара
                    console.log(response)
                    mythis.parentNode.nextElementSibling.childNodes[1].innerHTML = response // записываем
                    $('#bloc_content').html(response)
                }
            })
            mythis.previousElementSibling.value = plusOne // для прорисовки в шаблоне увеличение на один каждое нажатие
            console.log(mythis.previousElementSibling.value)
        }
    }

    function minus(mythis, productName, productId){
        if (Number(mythis.nextElementSibling.value > 1)) {

            var minusOne = Number(mythis.nextElementSibling.value) - 1
            //console.log('summ_min')
            //console.log(mythis.parentNode.previousElementSibling.childNodes[1].innerHTML)
            var first_price = mythis.parentNode.previousElementSibling.childNodes[1].innerHTML // здесь цена за штуку товара
            $.ajax({
                url: '/final_order',
                type: 'get',
                data: {prodid: productId},
                success: function (response) {
                    console.log('resp_minus')
                    console.log(response)
                    mythis.parentNode.nextElementSibling.childNodes[1].innerHTML = response
                    $('#bloc_content').html(response)
                }
            })
            mythis.nextElementSibling.value = minusOne
            //console.log('111')
            //console.log(document.getElementsByClassName('main_summ')[0])
            //alert(first_price)
            document.getElementsByClassName('main_summ')[0].innerHTML = document.getElementsByClassName('main_summ')[0].innerHTML - first_price
            //console.log(mythis.nextElementSibling.value)
        }
    }

</script>
{% endblock footer %}



