{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% load pagination_tags %}
<title>{% block title %}Категории{% endblock %}</title>

{% block video-baner %}
{% endblock video-baner %}

    <body id="projects"></body>
    {% block content %}
        {% comment %}<div id="pageloader">
            <div class="loader-item fa fa-spin colored-border"></div>
        </div>{% endcomment %}
<style>

    .curr_page_number{
        color: white;
    {#text-decoration: underline;#}
        background: #38486F;
        border: 1px solid #38486F;

    {#border: 7px solid red;#}
    }

    .curr_page_number:hover{
        font-weight: bold;
        color: #38486F;
        background: white;
        border: 1px solid #38486F;
    }


    .button-block-cat{
        margin-top: 1 !important;
    }

    .shop-list-section .item-panel {
        margin-top: 0px !important;
    }

    .filter .filter-category-box {
        margin-top: 50px !important;
        width: inherit;
    }

    .inner_content{
        {#height: {{ height_block }};#}
    }
    .pagination-cat{
        margin-left: 25%;
    }

    .pagination{
        margin-left: 25% !important;
    }

@media  (min-width: 320px) and (max-width: 454px) {
    .for-row {
        height: 1518px;
        overflow: hidden;
    }

    .my_work-area-categ {
        height: 1292px !important;
    }
    #shop-list.shop-list-section {
        padding: 0;
    }

    .pagination-cat {
        margin-left: 0;
    }

    .col-md-12-cat {
        margin-top: 0px !important;
    }

    .filter .filter-category-box {
        margin-top: 0px !important;
    }


}
@media  (min-width: 454px) and (max-width: 554px) {

    .shop-list-section .item-panel {
        margin-top: 0px !important;
    }
    .categ-contener-hello{
        margin-top: -80px !important;
        margin-bottom: -68px;
    }
    .filter .filter-category-box {
        margin-top: 14px !important;
    }

}
@media  (min-width: 555px) and (max-width: 669px) {

    /* .shop-list-section .item-panel {
        margin-top: 0px !important;
    }*/
    .categ-contener-hello {
        margin-top: -118px !important;
        margin-bottom: -68px;
    }

    .welcome-block {
        margin-top: 95px !important;
    }
    .sub-title-additionally{
        margin-top: 100px;
    }
    .filter .filter-category-box {
        margin-top: 106px !important;
        width: 44% !important;
    }

    .pagin-up {
        margin-left: 8.5% !important;

    }

    .pagin-down {
        margin-left: 8.5% !important;

    }
    .pagination {
         margin: 0 auto;
         width: 44%;
     }
}

@media  (min-width: 670px) and (max-width: 767px) {
    .my_work-area-categ {
        margin-top: -116px !important;
    }

    .sub-title-additionally{
        margin-top: 31px;
    }
    .filter .filter-category-box {
        margin-top: 9px !important;
        width: 44% !important;
    }

    .pagination {
        width: 392px;
        margin-bottom: 24px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }


    .pagin-up {
        margin: 0 auto !important;
        {#width: 100%;#}
        width: 392px;
        {#margin-bottom: 24px !important;#}
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: inherit;
        padding-right: inherit;
    }

    .pagin-down {
        margin-left: 1% !important;
        padding-left: 1% !important;
        width: 100%;
    }

    .pagin-up-categ {
        margin-top: 23px !important;
        margin-bottom: 22px;
    }

    }



@media  (min-width: 768px) and (max-width: 997px)  {
    .pagination-cat {
        margin-left: 0% !important;
    }
    .col-xs-12-my {
        margin-top: -92px;
    }
    .filter .filter-category-box {
        margin-top: 79px !important;
        width: 100%;
    }
    .filter .filter-title::after {
        bottom: 0;
        height: 0;
    }

    .item-panel{
        margin-bottom: 14px !important;
    }
}

@media  (min-width: 998px) and (max-width: 1199px)  {

    .col-xs-12-my {
        margin-top: -92px;
    }

    .filter .filter-category-box {
        margin-top: 128px !important;
        width: 100%;
    }
    .filter .filter-title::after {
        bottom: 0;
        height: 0;
    }
    .item-panel{
        margin-bottom: 14px !important;
    }
    .pagination {
        margin-left: 29% !important;
    }

}

@media  (min-width: 1200px) and (max-width: 1399px)  {

    .col-xs-12-my {
        margin-top: -92px;
    }

    .filter .filter-category-box {
        margin-top: 120px !important;
        width: 100%;
    }
    .filter .filter-title::after {
        bottom: 0;
        height: 0;
    }

    .item-panel{
        margin-bottom: 14px !important;
    }

    .pagination {
        margin-left: 18% !important;
    }
}

@media  (min-width: 1400px) and (max-width: 2400px)  {

    .col-xs-12-my {
        margin-top: -92px;
    }

    .filter .filter-category-box {
        margin-top: 120px !important;
        width: 100%;
    }
    .filter .filter-title::after {
        bottom: 0;
        height: 0;
    }

    .item-panel{
        margin-bottom: 14px !important;
    }

    .pagination {
        margin-left: 18% !important;
    }
}

</style>
        <div class="page-desc-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page-desc">
                        <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Категории</h2>
                        <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Производство достижимо в разумные сроки. Поэтому перераспределение бюджета</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner_content inner_content-cat">
        <section id="#your-works" class="your-works-section my-works-section">

            <div class="container- my_container" >

                <div class="my-project-grid works- grid-column-3-" > <!--style="display: none !important;"-->
                {% for category_s in category %}
{#                <div class="children"></div> class="col-md-9 col-sm-9"#}
{#                    <div class=" col-md-12 col-sm-12"></div>#}
                    <div class="project-items- photo- html- proj-our">
                        <div class="thumbnail thumbnail-cat">
                            <div class="img-box">

                                <div class="img-block"><img src="{{ MEDIA_URL }}{{ category_s.3 }}" class="img-responsive img-responsive-cat" alt="">
                                </div>
                            </div>
                            <div class="caption caption-cat">

                                <h3><a href="{% url "sort_goods_categ" %}?i={{ category_s.0 }}">{{ category_s.1 }}</a></h3><!--Название-->
                                <p class="tags-cat">{{ category_s.2 }}{#А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.#}</p>
{#                                <p class="rating">#}
{#                                    <label>#}
{#                                        <input value="4" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs">#}
{#                                    </label><span>- рейтинг фото</span>#}
{#                                </p>#}
                                <div class="social-icon"><a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-twitter twitter-icon"></i></a> <a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    </div>

                </div>
        </section>
            </div>

        <!---->

        <section id="shop-list" class="shop-list-section top-sale-section">
            <div class="container">
                <div class="row button-block button-block-cat">
                    <div class="col-md-12 col-md-12-cat">
                        <ul>
                            <li class="pull-right">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="btn-group list view-type">Показать как:</li>
                                    <li class="btn-group list active" role="presentation"><a href="{% url 'category' %}" title="List View" ><i class="fa fa-th-list categ-point"></i></a>
                                    </li>
                                    <li class="btn-group grid" role="presentation"><a href="{% url "index" %}" title="Grid View"><i class="fa fa-th-large"></i></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="btn-group item-sort item-sort-categ"><!--сортировать по цене-->
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="pull-right">
                                    <i class="fa fa-angle-down"></i></span><span class="change_price">Выберите вариант</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" onclick="onclickPrice(this, 0, event) " class="change_price_min">По цене меньше</a>
                                    </li>
                                <li><a href="#" onclick="onclickPrice(this, 1, event)" class="change_price_max">По цене больше</a>
                                      </li>
                                </ul>
                            </li><!--сортировать по цене-->
                            <!--btn-group item-show-->
                            <li class="btn-group item-categories"><!--сортировать по категориям-->
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="pull-right">
                                        <i class="fa fa-angle-down"></i>
                                    </span><span title="0" class="create_categ">Категорию</span>
                                </button>
                                <ul class="dropdown-menu min-max-js" role="menu">
                                    {% for category_on_goods_s in category_on_goods %}
                                        <li>
                                            <a href="{% url "sort_goods_categ" %}?i={{ category_on_goods_s.0 }}" onclick="onclickCateg(this, {{ category_on_goods_s.0 }}, '{{ category_on_goods_s.1 }}', event)"><span>{{ category_on_goods_s.1}}</span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li><!--сортировать по категориям-->
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active shop-list-section" id="list">
                        <div class="row">
                            <div class="col-md-3 filter col-sm-3">
                                <!--filter-price-box тут был фильтр-->
                                <div class="filter-category-box filter-category-box-categ">
                                    <div class="filter-title">
                                        <h3>Категории</h3> <!--Количество товаров в категори боковая-->
                                    </div>
                                    {% for category_on_goods_s in category_on_goods %}
                                        <div class="panel-group" id="accordion" role="tablist">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"><a href="{% url "sort_goods_categ" %}?i={{ category_on_goods_s.0 }}"><span class="counting-box">{{ category_on_goods_s.5 }}</span> <span class="panel-title">{{ category_on_goods_s.1}}</span></a></h4>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <!---->
                                {% autopaginate goods 8 %}
                                <div class="pagin-up pagin-up-categ">{% paginate %}</div>
                                <div class="for-row  col-md-12-cat">
                                    {% for goodss in goods %}

                                        <!--start block-->
                                        <div class="row row-cat">
                                            <div class="col-md-12">
                                                <div class="item-panel">
                                                    <div class="row margin-hide my_margin-hide">
                                                        <div class="col-md-4 col-sm-4 padding-left-hide">
                                                            <a data-rel="prettyPhoto" href="images/shop-2/1.png" title="Название товара" class="img-body-"></a>
                                                            <img src="{{MEDIA_URL}}{{ goodss.4 }}" alt="" class="img-responsive my_responsive">
                                                        </div>
                                                        <div class="col-md-8 col-sm-8 padding-right-hide">
                                                            <div class="offer-box">
                                                                <h3>-50%</h3>
                                                                <h3>Акция</h3>
                                                            </div><a href="#"><h3 class="categ_name">{{ goodss.1|upfirstletter }}</h3></a>
                                                            <h4 class="categ_price">{{ goodss.3 }} р.</h4>
                                                            <h5 class="categ_categ">{{ goodss.2 }}</h5>
                                                            <p class="my_contex">{{ goodss.5 }}</p>
{#                                                            <p class="ratings">#}
{#                                                                <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs"><span> рейтинг товара</span>#}
{#                                                            </p>#}
{#                                                            ?i={{ goodss.0 }}#}
                                                            <ul class="my_show-link">
                                                                <li class="show-link"><a href="{% url "show" pk=goodss.0 %}"><span>Подробнее..</span></a><span class="fa fa-angle-right right-icon"></span>
                                                                </li>
{#                                                                <div><a href="{% url 'shop_cart' %}?i={{ all_goods_s.0 }}&name={{ all_goods_s.1 }}&price={{ all_goods_s.3 }}&img={{ media_url_cart }}{{ all_goods_s.4 }}" class="add-card-text"><span class="fa fa-shopping-cart"></span><span class="span-cart-index">В корзину</span></a>#}

                                                                    <li class="add-to-card"><span class="fa fa-shopping-cart"></span><a href="{% url 'shop_cart' %}?i={{ goodss.0 }}&name={{ goodss.1 }}&price={{ goodss.3 }}&img={{ media_url_cart }}{{ goodss.4 }}"><span>В корзину</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="pagin-down pagin-down-categ">{% paginate %}</div>
                            </div>
                            <!--end block-->


                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!---->
        <section class="work-area section my_work-area-categ">
            <div class="container categ-contener-hello">
                <div class="row row-footer-he">
                    <div class="col-xs-12 col-xs-12-my col-xs-12-my-cat">
                        <h2 class="section-title text-center color-black animated" data-animation="fadeInRight" data-animation-delay="300">Приветствуем Вас в нашем магазине!</h2>
                        <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="500">Исходя из структуры пирамиды Маслоу, опрос охватывает фирменный нишевый проект.</p>
                        <p class="sub-title text-center color-black sub-title-additionally animated" data-animation="fadeInLeft" data-animation-delay="500">Рекламоноситель, пренебрегая деталями, основан на тщательном анализе данных.</p>
                    </div>
                </div>
                <div class="row welcome-block">
                    <div class="col-sm-3 my-col-sm-3">
                        <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="300"><i class="fa fa-shopping-cart"></i>
                            <h3 class="my_welcome-box">Быстрая покупка</h3>
                            <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-col-sm-3">
                        <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="500"><i class="fa fa-car"></i>
                            <h3 class="my_welcome-box">Доставка по России</h3>
                            <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-col-sm-3">
                        <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-money"></i>
                            <h3 class="my_welcome-box">Продажа шаблонов</h3>
                            <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                        </div>
                    </div>
                    <div class="col-sm-3 my-col-sm-3">
                        <div class="welcome-box animated" data-animation="fadeInUp" data-animation-delay="900"><i class="fa fa-credit-card"></i>
                            <h3 class="my_welcome-box">Оплачивайте здесь</h3>
                            <p>Исходя из структуры пирамиды Маслоу, концепция маркетинга определяет ролевой план размещения.</p><a href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            {#function changPrice(my_this){#}
            {#    // сюда прилетает id выбранного города в value#}
                {#console.log('1')#}
                {#console.log(my_this.value)#}
                {#console.log('2')#}
            {#    if (my_this.value != 'null'){#}
            {#        console.log(document.getElementById('price_min_max'))#}
            {#        fetch('/fetch_price?price=' + my_this.value)  // передаём id который в value на деф ф джанго#}
            {#            // Handle success#}
                        {#.then(response => console.log(response))#}
            {#            .then(response => response.text())//ловим с дефа о#}
            {#            .then(data => getFilterData(data))#}
            {#    }#}
            {#        //.then(data => saveChild(data))//передаем в функцию с переменной data всю выборку из dict1.json#}
                {#console.log('data-n-126')#}
                {#console.log(saveChild(data))#}
           //}

            var pageCurrent = document.getElementsByClassName("current")[0].innerHTML

            if (pageCurrent && pageCurrent !==0 && pageCurrent !=='0' && pageCurrent !=='') {
                {#alert(pageCurrent)#}
                document.getElementsByClassName("current")[0].classList.add('curr_page_number')
            }


            number_cat = 0
            number_flag = 0
            function onclickPrice(my_this, flag, event) {
                // фильтрация по минимальной и мкаксимальной цене
                event.preventDefault()
                 // прсваиваем слассу там где выбираем название категории

                //console.log('min-max-js')
                //console.log(document.getElementsByClassName('min-max-js')[0])
                {#var fetch_categ = document.getElementsByClassName('create_categ')[0].innerHTML#}
                console.log('onclickPrice')
                console.log(my_this.innerHTML)
                console.log(flag)
                var second_cat = document.getElementsByClassName('create_categ')[0].title

                console.log(document.getElementsByClassName('create_categ')[0].innerHTML)// прсваиваем слассу там где выбираем название категории


                if (flag == 0) {  // сорт по меньшей цене
                    {#console.log(document.getElementById('price_min_max'))#}
                    document.getElementsByClassName('change_price')[0].innerHTML = document.getElementsByClassName('change_price_min')[0].innerHTML
                    fetch('/fetch_price?price=min&categ=' + number_cat + '&sec_cat=' + second_cat)  // передаём min
                        // Handle success
                        {#.then(response => console.log(response))#}
                        .then(response => response.text())//ловим с дефа  django
                        .then(data => getFilterData(data))
                } else {// сорт по большей цене
                    document.getElementsByClassName('change_price')[0].innerHTML = document.getElementsByClassName('change_price_max')[0].innerHTML
                    fetch('/fetch_price?price=max&categ=' + number_cat + '&sec_cat=' + second_cat)  // передаём max
                        .then(response => response.text())//ловим с дефа
                        .then(data => getFilterData(data))
                        // Handle success
                        {#.then(response => console.log(response))#}

                }
            }

            function getFilterData(data){
                //функция котороая выводит все полученные отфильтрованные данные из etch в id 'for-row'
                //console.log('data')
                //console.log(data)
                let contentblock = ''
                document.getElementsByClassName('for-row')[0].innerHTML = data  //
                //console.log('contentblock')
                //console.log(contentblock)
            }

            function onclickCateg(my_categ, int_id, str_cat, event, flag_price){// по нажатию на выбор категории
                // останавливаем перзагрузку страницы и сласу присваиваем название категории
                number_cat = int_id// глобальна перменна перадаем id категории
                //console.log('str_cat')
                //console.log(str_cat)
                document.getElementsByClassName('create_categ')[0].innerHTML = str_cat// прсваиваем слассу там где выбираем название категории
                document.getElementsByClassName('create_categ')[0].title = int_id
                flag_price = document.getElementsByClassName('change_price')[0].innerHTML
                event.preventDefault()// остановить действие по умалчанию перход по сылке

                {#if (number_cat == 0) {#}
                {#    fetch('/fetch_category?categ=' + number_cat + '&price=' + flag_price)  // передаём max#}
                {#        // Handle success#}
                        {#.then(response => console.log(response))#}
                {#        .then(response => response.text())//ловим с дефа#}
                {#        .then(data => getFilterData(data))#}
                {#//} #}
                {#else {// сорт по большей цене}#}
                fetch('/fetch_category?categ=' + number_cat + '&price=' + flag_price)  // передаём max
                    // Handle success
                    {#.then(response => console.log(response))#}
                    .then(response => response.text())//ловим с дефа
                    .then(data => getFilterData(data))

            }
        </script>


    {% endblock content %}
    {% block brands %}{% endblock brands %}

    {% block additions %}{% endblock additions %}



{% block js %}{% endblock js %}
{% block js-1 %}
    <script type='text/javascript' src='http://test.michalbacak.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type="text/javascript" src="{% static "big_retail/js/jquery-1.11.1.min.js" %}" rel="stylesheet">var jQuery1111 = $.noConflict(true);</script>
    <script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrap.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrapValidator.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrap-hover-dropdown.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/owl.carousel.min.js" %}" rel="stylesheet" ></script><!--owl-theme-->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.sticky.js" %}"  rel="stylesheet"></script><!---->

    {#<script type="text/javascript" src="{% static "big_retail/js/carousel.min.js" %}"  rel="stylesheet"></script><!--owl-theme-->#}
    <script type="text/javascript" src="{% static "big_retail/js/slider/jquery.fractionslider.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/slider/main.js" %}" charset="utf-8" rel="stylesheet"></script> <!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.prettyPhoto.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.easy-ticker.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/idangerous.swiper.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/idangerous.swiper.progress.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/star-rating.min.js" %}" rel="stylesheet"></script><!---->

    <script type="text/javascript" src="{% static "big_retail/js/jquery.flexslider-min.js" %}" rel="stylesheet"></script><!---->

    <script type="text/javascript" src="{% static "big_retail/js/jquery.content_slider.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.easypiechart.min.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/option.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.nstSlider.js" %}"></script><!---->

    <script type="text/javascript" src="{% static "big_retail/js/jquery.mb.YTPlayer.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.appear.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/main.js" %}"></script><!--portfolio.html-->

    {#<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>#} <!-- который ломал все-->
    {% comment %}<script type="text/javascript" src="{% static "shop_app/js/script.js" %}" rel="stylesheet"></script>{% endcomment %}
{##}
{#    <div id="root"></div>#}
{#    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>#}
{#    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>#}
{#    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>#}
{% endblock js-1 %}
{% block react %}{% endblock react %}




