{% extends "base.html" %}
{% load static %}
<title>{% block title %}Категории{% endblock %}</title>

{% block video-baner %}
{% endblock video-baner %}

    <body id="projects"></body>
    {% block content %}
        {% comment %}<div id="pageloader">
            <div class="loader-item fa fa-spin colored-border"></div>
        </div>{% endcomment %}
<style>
.inner_content{
    {#height: {{ height_block }};#}
}

</style>

{#        <div id="app"></div>#}
{#        <div id="root"></div>#}
{#        {{ goods_api }}#}
        <div class="page-desc-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page-desc">
                        <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Наша галерея</h2>
                        <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Производство достижимо в разумные сроки. Поэтому перераспределение бюджета</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner_content">
        <section id="#your-works" class="your-works-section my-works-section">
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-xs-12">#}
{#                        <h2 class="section-title text-center animated" data-animation="fadeInRight" data-animation-delay="300">Перераспределение бюджета экономит межличностный бренд</h2>#}
{#                        <p class="sub-title text-center animated" data-animation="fadeInLeft" data-animation-delay="300">А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="container- my_container" >

                <div class="my-project-grid works- grid-column-3-" > <!--style="display: none !important;"-->
                {% for category_s in category %}
{#                <div class="children"></div>#}
                    <div class="project-items- photo- html- proj-our">
                        <div class="thumbnail">
                            <div class="img-box">

                                <div class="img-block"><img src="{{ MEDIA_URL }}{{ category_s.3 }}" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="caption">

                                <h3><a href="{% url "sort_goods_categ" %}?i={{ category_s.0 }}">{{ category_s.1 }}</a></h3><!--Название-->
                                <p>{{ category_s.2 }}{#А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.#}</p>
                                <p class="rating">
                                    <label>
                                        <input value="4" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs">
                                    </label><span>- рейтинг фото</span>
                                </p>
                                <div class="social-icon"><a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-twitter twitter-icon"></i></a> <a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    </div>

                </div>
        </section>
            </div>
    {% endblock content %}
    {% block brands %}{% endblock brands %}
    {% block additions %}{% endblock additions %}

{% block js %}{% endblock js %}
{% block js-1 %}
    <script type='text/javascript' src='http://test.michalbacak.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type="text/javascript" src="{% static "big_retail/js/jquery-1.11.1.min.js" %}" rel="stylesheet">var jQuery1111 = $.noConflict(true);</script>
    <script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrap.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrapValidator.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrap-hover-dropdown.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/owl.carousel.min.js" %}" rel="stylesheet" ></script><!--owl-theme-->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.sticky.js" %}"  rel="stylesheet"></script><!---->

    {#<script type="text/javascript" src="{% static "big_retail/js/carousel.min.js" %}"  rel="stylesheet"></script><!--owl-theme-->#}
    <script type="text/javascript" src="{% static "big_retail/js/slider/jquery.fractionslider.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/slider/main.js" %}" charset="utf-8" rel="stylesheet"></script> <!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.prettyPhoto.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.easy-ticker.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/idangerous.swiper.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/idangerous.swiper.progress.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/star-rating.min.js" %}" rel="stylesheet"></script><!---->

    <script type="text/javascript" src="{% static "big_retail/js/jquery.flexslider-min.js" %}" rel="stylesheet"></script><!---->

    <script type="text/javascript" src="{% static "big_retail/js/jquery.content_slider.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.easypiechart.min.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/option.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.nstSlider.js" %}"></script><!---->

    <script type="text/javascript" src="{% static "big_retail/js/jquery.mb.YTPlayer.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.appear.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/main.js" %}"></script><!--portfolio.html-->

    {#<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>#} <!-- который ломал все-->
    {% comment %}<script type="text/javascript" src="{% static "shop_app/js/script.js" %}" rel="stylesheet"></script>{% endcomment %}
{##}
{#    <div id="root"></div>#}
{#    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>#}
{#    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>#}
{#    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>#}
{% endblock js-1 %}
{% block react %}{% endblock react %}




