{% extends "base.html" %}
{% load static %}
<title>{% block title %}Категории{% endblock %}</title>
{#{% block css %}#}
{#    <link href="{% static "big_retail/css/themes/theme.css" %}" id="changeable-colors" rel="stylesheet" type="text/css">#}
{#    <link href="{% static "big_retail/css/style.css" %}" rel="stylesheet" type="text/css">#}
{#{% endblock css %}#}
{% block video-baner %}
{% endblock video-baner %}

    <body id="projects"></body>
    {% block content %}
        {% comment %}<div id="pageloader">
            <div class="loader-item fa fa-spin colored-border"></div>
        </div>{% endcomment %}
<style>
.inner_content{
    height: {{ height_block }};
}

</style>

        <div id="app"></div>
        <div id="root"></div>
        {{ goods_api }}
        <div class="page-desc-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 page-desc">
                        <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Наша галерея</h2>
                        <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Производство достижимо в разумные сроки. Поэтому перераспределение бюджета</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner_content">
        <section id="#your-works" class="your-works-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title text-center animated" data-animation="fadeInRight" data-animation-delay="300">Перераспределение бюджета экономит межличностный бренд</h2>
                        <p class="sub-title text-center animated" data-animation="fadeInLeft" data-animation-delay="300">А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p>
                    </div>
                </div>
            </div>
            <div class="container- my_container" >

                <div class="project-grid works- grid-column-3-">
                {% for category_s in category %}
                <div class="children">
                    <div class="project-items- photo- html- proj-our">
                        <div class="thumbnail">
                            <div class="img-box">

                                <div class="img-block"><img src="{{ MEDIA_URL }}{{ category_s.3 }}" class="img-responsive" alt="">
{#                                    <div class="mask">#}
{#                                        <div class="mask-links">#}
{#                                            <ul>#}
{#                                                <li><a class="zoom work-control" data-rel="prettyPhoto" href="" title="{{ category_s.1 }}"><i class="fa fa-search color-blue"></i></a>#}
{#                                                </li>#}
{#                                                <li><a class="link work-control" href="portfolio-single.html"><i class="fa fa-link color-blue"></i></a>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </div>#}<!--значки поиска и тд-->
{#                                    </div>#}
                                </div>
                            </div>
{#                            <p><a href="{% url "goods" %}?i={{ cat.0 }}">{{ cat.1 }}</a></p><!-- /.catname-->#}
                            <div class="caption">

                                <h3><a href="{% url "sort_goods_categ" %}?i={{ category_s.0 }}">{{ category_s.1 }}</a></h3><!--Название-->
                                <p>{{ category_s.2 }}{#А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.#}</p>
                                <p class="rating">
                                    <label>
                                        <input value="4" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs">
                                    </label><span>- рейтинг фото</span>
                                </p>
                                <div class="social-icon"><a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-twitter twitter-icon"></i></a> <a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                    </div>

                </div>
        </section>
            </div>


        
    {% endblock content %}
    {% block brands %}{% endblock brands %}
    {% block additions %}{% endblock additions %}
    {% block footer %}<section id="footer" class="footer-bg" style="margin-top: 50px">
        <div class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 animated" data-animation="fadeInUp" data-animation-delay="300">
                        <h3>О магазине</h3>
                        <p>Ретроконверсия национального наследия реально изменяет формирование имиджа. Еще Траут показал, что мониторинг активности вполне вероятен. Узнавание бренда экономит тактический инструмент маркетинга.</p>
                        <ul>
                            <li>Россия, Москва</li>
                            <li>ул. Пушкина 23а</li>
                            <li>mail@mail.com</li>
                            <li>+7 123 456 789</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние статьи</h3>
                        <ul>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние новости</h3>
                        <ul>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 flickr animated" data-animation="fadeInUp" data-animation-delay="900">
                        <h3>Галерея</h3>
                        <ul>
                            <li><img src="" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="" alt="flickr-1" class="img-responsive">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-rights-bg">
            <div class="copy-rights-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright-content">&copy; 2016 Big retail - HTML шаблон интернет-магазина</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="social-icon"><a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-tumblr tumblr-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a> <a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        <script type="text/javascript" src="{% static "big_retail/js/main.js" %}" rel="stylesheet"></script>#}
    </section>{% endblock footer %}
{% block js %}{% endblock js %}
{% block react %}<script type="text/babel" src="{% static "shop_app/js/react_prod_ditail.js" %}"></script>{% endblock react %}




