<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>Big retail - HTML шаблон интернет-магазина</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="css/flexisel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="css/YTPlayer.css" rel="stylesheet" type="text/css">
    <link href="css/flaticon.css" rel="stylesheet" type="text/css">
    <link href="css/themes/theme.css" id="changeable-colors" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
</head>

<body id="services">
    <div id="pageloader">
        <div class="loader-item fa fa-spin colored-border"></div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar">
                        <div class="navbar-header">
                            <ul class="header-top-left">
                                <li class="dropdown collapse navbar-collapse" id="bs-example-navbar-collapse-1">Язык<a class="dropdown-toggle" data-toggle="dropdown" href="#">[ <span>RU<i class="fa fa-angle-down"></i></span> ]</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><span><img src="images/top-navigation/flag1.jpg" alt="Language-flag"></span>ENG</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag2.jpg" alt="Language-flag"></span>GER</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag3.jpg" alt="Language-flag"></span>FRE</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag4.jpg" alt="Language-flag"></span>ITA</a>
                                        </li>
                                        <li><a href="#"><span><img src="images/top-navigation/flag5.jpg" alt="Language-flag"></span>SPA</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="mailto:email@example.com"><i class="flaticon-black164"></i> mail@mail.com</a>
                                </li>
                                <li><a href="#"><i class="flaticon-phone46"></i> +7 123 456 78 90</a>
                                </li>
                            </ul>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="flaticon-list50"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav navbar-right section-hidden">
                            <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                        <div class="pull-left product"><a href="#">Название товара</a>
                                            <h5>500 р.</h5>
                                        </div>
                                    </li>
                                    <li class="total">
                                        <h5>Итого: 1 500 р.</h5>
                                    </li>
                                    <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Опталить</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>
                            </li>
                            <li><a href="#">Регистрация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-section" class="sticky-navigation">
        <nav class="navbar navbar-default menu-bar" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <div class="site-logo"><a title="" href="index.html">Big retail</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right section-show">
                                <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">
                                            <div class="pull-left product"><a href="#">Название товара</a>
                                                <h5>500 р.</h5>
                                            </div>
                                        </li>
                                        <li class="total">
                                            <h5>Итого: 1 500 р.</h5>
                                        </li>
                                        <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Оплатить</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="login-style"><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>
                                </li>
                                <li class="register-border"><a href="#">Регистрация</a>
                                </li>
                            </ul>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"><span class="menu-box"><span class="menu">Меню</span><i class="flaticon-list50 menu-button"></i>
                                </span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Главная</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-1"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-1 collapse">
                                        <li><a href="index.html">Главная #1</a>
                                        </li>
                                        <li><a href="index-2.html">Главная #2</a>
                                        </li>
                                        <li><a href="index-3.html">Главная #3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle active">О нас</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-2 collapse">
                                        <li><a href="about-us.html">О компании</a>
                                        </li>
                                        <li><a href="services.html">Услуги</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Товары</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-3"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-3 collapse">
                                        <li class="dropdown"><a href="shop-list.html" class="dropdown-toggle">Магазин</a> <span class="submenu-toggler collapsed" data-toggle="collapse" data-target=".collapse-4"><i class="fa fa-angle-right"></i></span>
                                            <ul role="menu" class="sub-menu collapse-4 collapse">
                                                <li><a href="shop-list.html">Список товаров</a>
                                                </li>
                                                <li><a href="shop-detail.html">Описание товара</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="cart.html">Корзина</a>
                                        </li>
                                        <li><a href="check-out.html">Оплата</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Галерея</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">
                                        <li><a href="portfolio.html">Портфолио</a>
                                        </li>
                                        <li><a href="portfolio-single.html">Описание</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle">Новости</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>
                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">
                                        <li><a href="blog.html">Новости</a>
                                        </li>
                                        <li><a href="blog-single.html">Описание</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contacts.html">Контакты</a>
                                </li>
                                <li class="search"><a href="#search-toggle-right" id="search-toggle"><i class="glyphicon glyphicon-search"></i></a>
                                </li>
                                <li class="search-form">
                                    <form role="search" class="navbar-form">
                                        <div class="input-group">
                                            <input type="text" name="q" placeholder="Искать.." class="form-control">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default">ОК</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Об услугах</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">До недавнего времени считалось, что узнавание бренда категорически индуцирует департамент маркетинга и продаж.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="work-area section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title text-center color-black animated" data-animation="fadeInRight" data-animation-delay="300">Согласно ставшей уже классической работе</h2>
                    <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="300">Анализ рыночных цен, не меняя концепции, изложенной выше, довольно хорошо сбалансирован.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="work-box animated" data-animation="pulse" data-animation-delay="300"><i class="flaticon-gears5"></i>
                        <h3>Имиджевая реклама</h3>
                        <p>Как предсказывают футурологи потребление усиливает сублимированный метод изучения рынка, опираясь на опыт западных коллег.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="work-box animated" data-animation="pulse" data-animation-delay="500"><i class="flaticon-apple"></i>
                        <h3>Стимулирование сбыта</h3>
                        <p>Как предсказывают футурологи потребление усиливает сублимированный метод изучения рынка, опираясь на опыт западных коллег.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="work-box animated" data-animation="pulse" data-animation-delay="700"><i class="flaticon-refresh"></i>
                        <h3>Бесплатная доставка</h3>
                        <p>Как предсказывают футурологи потребление усиливает сублимированный метод изучения рынка, опираясь на опыт западных коллег.</p><a href="#">Подробнее</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="work-box animated" data-animation="pulse" data-animation-delay="900"><i class="flaticon-user3"></i>
                        <h3>Быстрая оплата</h3>
                        <p>Как предсказывают футурологи потребление усиливает сублимированный метод изучения рынка, опираясь на опыт западных коллег.</p><a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="work-section" class="your-work-section section slant-angle">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title text-center color-white animated" data-animation="fadeInRight" data-animation-delay="300">Повышение жизненных стандартов синхронизирует</h2>
                        <p class="sub-title text-center color-white animated" data-animation="fadeInLeft" data-animation-delay="300">Высокая информативность экономит рекламный бриф. Визуализация концепии, безусловно, изящно охватывает эксклюзивный метод изучения рынка. Стратегия предоставления скидок и бонусов отражает медиамикс, полагаясь на инсайдерскую информацию. Экспансия усиливает конвергентный продуктовый ассортимент.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="800">
                        <div id="your-work-carousel" class="owl-carousel work-carousel-slider">
                            <div class="screen-item"><img src="images/your-works/1.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/1.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src="images/your-works/2.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/2.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src="images/your-works/3.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/3.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src="images/your-works/4.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/4.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src="images/your-works/5.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/5.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src="images/your-works/6.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/6.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src="images/your-works/7.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/7.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src="images/your-works/8.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/8.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="screen-item"><img src="images/your-works/9.jpg" width="370" height="220" class="img-responsive">
                                <div class="mask">
                                    <div class="mask-top text-center color-white">
                                        <h3>Название услуги</h3><span class="date">31 августа 2016</span>
                                    </div>
                                    <div class="mask-links">
                                        <ul>
                                            <li><a class="zoom work-control" data-rel="prettyPhoto" href="images/your-works/9.jpg" title="Название услуги"><i class="fa fa-search color-blue"></i></a>
                                            </li>
                                            <li><a class="link work-control" href="#"><i class="fa fa-link color-blue"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scrolling text-center"><span>Навигация</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features-section" class="features-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInRight" data-animation-delay="500">
                    <h2 class="section-title text-center color-black animated" data-animation="fadeInRight" data-animation-delay="500">Что мы предлагаем?</h2>
                    <p class="sub-title text-center color-black animated" data-animation="fadeInLeft" data-animation-delay="500">План размещения методически допускает мониторинг активности. Опрос последовательно усиливает коллективный пак-шот.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="300">
                    <div class="col-xs-3"><i class="fa fa-gear feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Дизайн</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="600">
                    <div class="col-xs-3"><i class="flaticon-apple feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Проектирование</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="900">
                    <div class="col-xs-3"><i class="fa fa-comment feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Оптимизация</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="1200">
                    <div class="col-xs-3"><i class="flaticon-list50 feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Комплексность</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="1500">
                    <div class="col-xs-3"><i class="fa fa-code feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Производство</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animated" data-animation="pulse" data-animation-delay="1800">
                    <div class="col-xs-3"><i class="flaticon-info2 feature-icon"></i>
                    </div>
                    <div class="col-xs-9"><span class="content-title text-center color-black">Поддержка</span>
                        <p class="feature-content">К тому же высокая информативность порождена временем. Выставочный стенд продуцирует коллективный баинг и селлинг.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skill" class="skill section slant-angle">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="color-white animated text-center" data-animation="fadeInRight" data-animation-delay="300">Бренд, как принято считать, трансформирует PR</h2>
                        <p class="sub-title animated" data-animation="fadeInLeft" data-animation-delay="300">Как предсказывают футурологи целевой трафик программирует институциональный нишевый проект. Перераспределение бюджета позиционирует имидж предприятия.</p>
                    </div>
                </div>
                <div class="row">
                    <div id="skill-slider" class="price-carousel-slider">
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="37" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="65" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="80" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                        <div class="skill-box animated" data-animation="fadeInUp" data-animation-delay="400">
                            <div class="piechart" data-percent="100" data-barcolor="#38486F"><span></span>
                            </div>
                            <p class="counter-description">Поисковая реклама</p>
                        </div>
                    </div>
                    <div class="scrolling text-center"><span>Навигация</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing" class="pricing section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title text-center animated" data-animation="fadeInRight" data-animation-delay="300">Выберите тарифный план</h2>
                    <p class="sub-title text-center animated" data-animation="fadeInLeft" data-animation-delay="300">Ребрендинг ригиден как никогда. Медиавес вполне вероятен. В общем, стимулирование коммьюнити амбивалентно.</p>
                </div>
            </div>
        </div>
        <div class="container slider-container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="pricing-slider" class="price-carousel-slider">
                        <div class="price-item animated" data-animation="fadeInUp" data-animation-delay="500">
                            <div class="price-box">
                                <div class="price-category">
                                    <h3>Стандарт</h3>
                                </div>
                                <div class="price-box-inner">
                                    <div class="price">
                                        <div class="currency">500 р.</div>
                                        <br><span class="time-period">/в неделю</span>
                                    </div>
                                    <ul class="price-details">
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                    </ul>
                                    <div class="order-now">
                                        <div class="button"><a href="#">ЗАКАЗАТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-item animated" data-animation="fadeInUp" data-animation-delay="700">
                            <div class="price-box">
                                <div class="price-category">
                                    <h3>Бизнес</h3>
                                </div>
                                <div class="price-box-inner">
                                    <div class="price">
                                        <div class="currency">600 р.</div>
                                        <br><span class="time-period">/в неделю</span>
                                    </div>
                                    <ul class="price-details">
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                    </ul>
                                    <div class="order-now">
                                        <div class="button"><a href="#">ЗАКАЗАТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-item animated" data-animation="fadeInUp" data-animation-delay="900">
                            <div class="price-box">
                                <div class="price-category premium">
                                    <h3>Премиум</h3>
                                </div>
                                <div class="price-box-inner">
                                    <div class="price">
                                        <div class="currency">800 р.</div>
                                        <br><span class="time-period">/в неделю</span>
                                    </div>
                                    <ul class="price-details">
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                    </ul>
                                    <div class="order-now">
                                        <div class="button"><a href="#">ЗАКАЗАТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-item animated" data-animation="fadeInUp" data-animation-delay="1100">
                            <div class="price-box">
                                <div class="price-category">
                                    <h3>Индивидуальный</h3>
                                </div>
                                <div class="price-box-inner">
                                    <div class="price">
                                        <div class="currency">900 р.</div>
                                        <br><span class="time-period">/в неделю</span>
                                    </div>
                                    <ul class="price-details">
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                        <li>Адаптивный дизайн</li>
                                        <li>Проектирование систем</li>
                                        <li>Тех. поддержка</li>
                                    </ul>
                                    <div class="order-now">
                                        <div class="button"><a href="#">ЗАКАЗАТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scrolling text-center"><span>Навигация</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer" class="footer-bg">
        <div class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 animated" data-animation="fadeInUp" data-animation-delay="300">
                        <h3>О магазине</h3>
                        <p>Ретроконверсия национального наследия реально изменяет формирование имиджа. Еще Траут показал, что мониторинг активности вполне вероятен. Узнавание бренда экономит тактический инструмент маркетинга.</p>
                        <ul>
                            <li>Россия, Москва</li>
                            <li>ул. Пушкина 23а</li>
                            <li>mail@mail.com</li>
                            <li>+7 123 456 789</li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние статьи</h3>
                        <ul>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                            <li><a href="#">Загловок статьи на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">
                        <h3>Последние новости</h3>
                        <ul>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                            <li><a href="#">Загловок новости на сайте</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3 flickr animated" data-animation="fadeInUp" data-animation-delay="900">
                        <h3>Галерея</h3>
                        <ul>
                            <li><img src="images/flickr/1.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/2.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/3.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/4.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/5.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/6.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/7.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                            <li><img src="images/flickr/8.jpg" alt="flickr-1" class="img-responsive">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-rights-bg">
            <div class="copy-rights-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="copyright-content">&copy; 2016 Big retail - HTML шаблон интернет-магазина</p>
                        </div>
                        <div class="col-sm-6">
                            <div class="social-icon"><a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-tumblr tumblr-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a> <a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="js/jquery.content_slider.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    
    <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="js/option.js"></script>
    <script type="text/javascript" src="js/jquery.nstSlider.js"></script>
    <script type="text/javascript" src="js/idangerous.swiper.min.js"></script>
    <script type="text/javascript" src="js/idangerous.swiper.progress.min.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>

</body>

</html>