{% extends "base.html" %}
{% load static %}

<title>{% block title %}Описание товара{% endblock %}</title>
11111111111111111
{% block video-baner %}
{% endblock video-baner %}
{% block content %}
{#    <div id="app">#}
{#    </div>#}
<body id="shop-detail">

    <div id="pageloader">
        <div class="loader-item fa fa-spin colored-border"></div>
    </div>

    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Описание товара</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Экспансия усиливает конвергентный продуктовый ассортимент.</p>
                </div>
            </div>
        </div>
    </div>
{#{{ image_goods.0.1 }}#}

    <section class="product-detail">
        <div class="container my_container">
            <div class="row" style="padding-left: 150px;">
{#                {% for sh in show %}#}
                <!--главное фото  наше-->
            <div class="col-md-5 product-slider animated" data-animation="fadeInUp" data-animation-delay="300" style="width: 610px;">
            <div class="main-big-photo">
                <div class="prev-div" onclick="newPrev(this) "> < </div>
                    <div class="big-photo"><img class="main_img" src="{{ MEDIA_URL }}{{ show.4 }}" ></div>
                <div class="next-div" onclick="newNext(this)"> > </div>
            </div>
                <!--главное фото конец-->
                <!--малые фото начало-->
                <div class="cont_flat_image" id="slider">
{#                    style="padding-left: 255px; height: 500px; overflow: hidden; padding-top: 40px;"#}
                {% for image_goods_s in image_goods %}
                    <div><img onclick="changeImg(this)" class="img_small" id={{ image_goods_s.0 }} src="{{ MEDIA_URL}}{{ image_goods_s.1 }}">
                    </div >
                {% endfor %}
                </div>
            </div>
                <!--малые фото конец-->
                <!--главное фото старое-->
{#                <div class="col-md-5 product-slider animated" data-animation="fadeInUp" data-animation-delay="300">#}
{#                    <!--главное фото-->#}
{#                <div class="parrent_img col-md-5">#}
{#                    <div class="arrow_left"><img class="img_arrow_left" src={% static "shop_app/img/34.png" %} alt="arrow"></div>#}
{#                    <div id="big-detail" class="owl-carousel" style="width: 570px">#}
{#                        <div class="item first"><img class="main_img" src="{{ MEDIA_URL }}{{ show.4 }}" class="img-responsive"></div>#}
{#                        #}
{#                    </div>#}
{#                    <div class="arrow_right"><img src={% static "shop_app/img/35.png" %} alt="arrow"></div>#}
{#                </div>#}
{#                    <!--главное фото староеend-->#}
{#                    <!--малое фото старое-->#}
{#                    <div id="small-detail" class="owl-carousel">#}
{#                        {% for image_goods_s in image_goods %}#}
{#                        <div class="item" ><img onclick="changeImg(this)" src="{{ MEDIA_URL}}{{ image_goods_s.1 }}" class="img-responsive" style="height: 80px; width: 200px !important;">#}
{#                            </div >#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                    #}
{#                </div>#}
                <!--мале фото старое еend-->

            <div class="products-content">
                <div class="col-md-7 product-description animated my_right_block my_prod " data-animation="fadeInUp" data-animation-delay="500"><a href="#">{{ show.1 }}</a>
                    <h3>{{ show.3 }} рублей</h3>
                    <p>{{ show.5 }}</p>

                    <p>
                        <input id="input-21d" value="3" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs"><span>- рейтинг товара</span>
                    </p>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-2"><i class="fa fa-shopping-cart"></i>
                                        </div>
                                        <div class="col-xs-10">
                                            <p>Покупка</p>
                                            <h4>Быстрая оплата</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-2"><i class="fa fa-shield"></i>
                                        </div>
                                        <div class="col-xs-10">
                                            <p>SSL соединение</p>
                                            <h4>Безопасность</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-2"><i class="fa fa-star"></i>
                                        </div>
                                        <div class="col-xs-10">
                                            <p>Лучшие товары</p>
                                            <h4>Уникальный контент</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{#                    <div class="row range-input">#}
{#                        <div class="col-xs-2">#}
{#                            <div class="input-group" data-trigger="spinner">#}
{#                                <div class="input-group-addon"><a href="javascript:;" data-spin="down"><i class="fa fa-minus"></i></a>#}
{#                                </div>#}
{#                                <input type="text" class="form-control" value="1" data-rule="quantity">#}
{#                                <div class="input-group-addon"><a href="javascript:;" data-spin="up"><i class="fa fa-plus"></i></a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-xs-10">#}
{#                            <input type="text" class="form-control" id="discount-code" placeholder="Ваш скидочный купон">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="row add-buttons">
                        <div class="col-sm-6">
{#                            <a class="navbar-brand" href="{% url "shop_billing" %}?i={{ sh.0 }}&name={{ sh.1 }}&price={{ sh.3 }}&img={{ sh.4 }}"><input type="button" {{ chek_good }} class="btn btn-success" value="Заказать "></a>#}
                            
                            <a class="" href="{% url 'shop_cart' %}?i={{ show.0 }}&name={{ show.1 }}&price={{ show.3 }}&img={{ show.4 }}"><button type="button" class="btn add-cart" {{ chek_good }}><i class="fa fa-shopping-cart"></i>В корзину</button></a>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn"><i class="fa fa-heart"></i>В избранное</button>
                        </div>
                    </div>
{#                {% endfor %}#}
                    <div class="row category-tags">
                        <div class="col-xs-12">
                            <p>Категория товара: <a href="#">{{ show.2 }}</a>
                            </p>
                            <p>Теги: {{ tegs_categ_desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section id="product-tab">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="500">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#more-information" role="tab" data-toggle="tab">Описание</a>
                        </li>
                        <li role="presentation"><a href="#specifications" role="tab" data-toggle="tab">Характеристики</a>
                        </li>
                        <li role="presentation"><a href="#images" role="tab" data-toggle="tab">Отзывы</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="more-information">
                            <p>Высокая информативность экономит рекламный бриф. Визуализация концепии, безусловно, изящно охватывает эксклюзивный метод изучения рынка. Стратегия предоставления скидок и бонусов отражает медиамикс, полагаясь на инсайдерскую информацию. Экспансия усиливает конвергентный продуктовый ассортимент.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="specifications">
                            <p>Высокая информативность экономит рекламный бриф. Визуализация концепии, безусловно, изящно охватывает эксклюзивный метод изучения рынка. Стратегия предоставления скидок и бонусов отражает медиамикс, полагаясь на инсайдерскую информацию. Экспансия усиливает конвергентный продуктовый ассортимент.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="images">
                            <p>Высокая информативность экономит рекламный бриф. Визуализация концепии, безусловно, изящно охватывает эксклюзивный метод изучения рынка. Стратегия предоставления скидок и бонусов отражает медиамикс, полагаясь на инсайдерскую информацию. Экспансия усиливает конвергентный продуктовый ассортимент.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="top-sales-slider" class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated" data-animation="fadeInUp" data-animation-delay="300">
                    <h2>Похожие товары</h2>
                </div>
            </div>
        </div>

        <div class="container slider-container animated" data-animation="fadeInUp" data-animation-delay="500">
            <div class="row">

                <div class="col-md-12">

                    <div id="top-sales">
            {% for all_goods_random_s in all_goods_random %}

                        <div class="item">
                            <div class="thumbnail">
                                <div class="photo-block"><a class="add-cart-link-" data-rel="prettyPhoto" href="" title="Название товара"><i class="fa_fa-plus-"></i></a> <img src="{{ MEDIA_URL }}{{ all_goods_random_s.4 }}" class="img-responsive" alt="top-sales">
                                </div>
                                <div class="caption"><a href="#" class="category">{{ all_goods_random_s.2 }}</a> <a href="#">{{ all_goods_random_s.1 }}</a>
                                    <h4>{{ all_goods_random_s.3 }} р.</h4>
                                    <p>
                                        <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs"><span>- рейтинг товара</span>
                                    </p>
                                    <div class="row cart-details">
                                        <div class="col-xs-6"><a href="{% url 'shop_cart' %}?i={{ all_goods_random_s.0 }}&name={{ all_goods_random_s.1 }}&price={{ all_goods_random_s.3 }}&img={{ all_goods_random_s.4 }}"><i class="fa fa-shopping-cart"></i> В корзину</a>
                                        </div>
                                        <div class="col-xs-6"><a href="{% url "show" pk=all_goods_random_s.0 %}" class="pull-right">Подробнее <i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



            {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </section>

</body>
{% endblock content %}
{% block brands %}{% endblock brands %}
{% block additions %}{% endblock additions %}
{% block js %}<script type="text/javascript" src="{% static "shop_app/js/script.js" %}"></script>{% endblock js %}
