{% extends "base.html" %}
{% load static %}
<title>{% block title %}Товары{% endblock %}</title>
{% block video-baner %}{% endblock video-baner %}

{% block content %}
<body id="shop-list-layout-side-bar">
{#    <div id="pageloader">#}
{#        <div class="loader-item fa fa-spin colored-border"></div>#}
{#    </div>#}


    <!--start slider-->
    <div id="top-slider" class="owl-carousel owl-theme">
        <div class="item"><img src="/media/img/36.jpg" alt="">
            <div class="carousel-caption">
                <h2>Магазин товаров</h2>
                <h1>Открывайте на любом устройстве</h1>
                <p>Каталог качественных товаров на любой вкус</p>
                <p>Приобрайте с удовольствием</p>
                <div class="btn pop">ПОДРОБНОСТИ</div>
            </div>
        </div>
        <div class="item"><img src="/media/img/36.jpg" alt="">
            <div class="carousel-caption">
                <h2>Магазин товаров</h2>
                <h1>Открывайте на любом устройстве</h1>
                <p>Каталог качественных товаров на любой вкус</p>
                <p>Приобрайте с удовольствием</p>
                <div class="btn pop">ПОДРОБНОСТИ</div>
            </div>
        </div>
    </div>
    <!--end slider-->
    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc blog">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Наш магазин товаров</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Рекламное сообщество, как принято считать, спорадически усиливает целевой трафик, повышая конкуренцию.</p>
                </div>
            </div>
        </div>
    </div>
    <section id="shop-list" class="shop-list-section top-sale-section">
        <div class="container">
            <div class="row button-block">
                <div class="col-md-12">
                    <ul>
                        <li class="pull-right">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="btn-group list view-type">Показать как:</li>
                                <li class="btn-group list active" role="presentation"><a href="#list" title="List View" role="tab" data-toggle="tab"><i class="fa fa-th-list"></i></a>
                                </li>
                                <li class="btn-group grid" role="presentation"><a href="#grid" title="Grid View" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li class="btn-group item-sort">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="pull-right"><i class="fa fa-angle-down"></i></span>Сортировать: <span>Выберите вариант</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">По цене</a>
                                </li>
                                <li><a href="#">По популярности</a>
                                </li>
                                <li><a href="#">По дате</a>
                                </li>
                                <li><a href="#">По доставке</a>
                                </li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <button type="button" class="btn btn-default top-icon"><i class="fa fa-arrow-up"></i>
                            </button>
                        </li>
                        <li class="btn-group item-show">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="pull-right"><i class="fa fa-angle-down"></i></span>Выводить: <span>по 12 товаров</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">по 18 товаров</a>
                                </li>
                                <li><a href="#">по 24 товара</a>
                                </li>
                                <li><a href="#">ВСЕ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="btn-group item-categories">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="pull-right"><i class="fa fa-angle-down"></i></span>Выбрать: <span>категорию</span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
{#                                <li><a href="#">{{ category_on_goods.0.1 }}</a>#}
{#                                </li>#}
{#                                <li><a href="#">{{ category_on_goods.0.1 }}</a>#}
{#                                </li>#}
{#                                <li><a href="#">Недвижимость</a>#}
{#                                </li>#}
{#                                <li><a href="#">Продукты</a>#}
{#                                </li>#}
                                {% for category_on_goods_s in category_on_goods %}
                                <li><a href="{% url "sort_goods_categ" %}?i={{ category_on_goods_s.0 }}"> <span>{{ category_on_goods_s.1}}</span></a>
{#                                    <a href="#">Все</a>#}
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade in active shop-list-section" id="list">
                    <div class="row">
                        <div class="col-md-3 filter col-sm-3">
                            <div class="filter-price-box">
                                <div class="filter-title">
                                    <h3>фильтр по цене</h3>
                                </div>
                                <div class="nstSlider range" data-range_min="0" data-range_max="1500" data-cur_min="0" data-cur_max="150">
                                    <div class="bar"></div>
                                    <div class="leftGrip"><span class="drag"><span class="leftLabel"></span></span>
                                    </div>
                                    <div class="rightGrip"><span class="drag"><span class="rightLabel"></span></span>
                                    </div>
                                </div>
                                <ul class="filter-print-price">
                                    <li><a href="#"><h4>фильтр</h4></a>
                                    </li>
                                    <li class="price"><span>Цена:</span> <span class="leftLabel"></span> <span>-</span> <span class="rightLabel"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-category-box">
                                <div class="filter-title">
                                    <h3>Категории</h3>
                                </div>
                                {% for category_on_goods_s in category_on_goods %}
                                <div class="panel-group" id="accordion" role="tablist">

                                    <div class="panel panel-default">

                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="{% url "sort_goods_categ" %}?i={{ category_on_goods_s.0 }}"><span class="counting-box">13</span> <span class="panel-title">{{ category_on_goods_s.1}}</span></a></h4>
                                        </div>

                                        {% comment подкктегории%}<div class="panel-collapse collapse" id="collapseOne">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>{% endcomment %}

                                    </div>

{% comment название категории%}                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed"><span class="counting-box">13</span> <span class="panel-title">Название категории</span></a></h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="collapseTwo">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed"><span class="counting-box">13</span> <span class="panel-title">Название категории</span></a></h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="collapseThree">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed"><span class="counting-box">13</span> <span class="panel-title">Название категории</span></a></h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="collapseFour">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed"><span class="counting-box">13</span> <span class="panel-title">Название категории</span></a></h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="collapseFive">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed"><span class="counting-box">13</span> <span class="panel-title">Название категории</span></a></h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="collapseSix">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed"><span class="counting-box">13</span> <span class="panel-title">Название категории</span></a></h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="collapseSeven">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a href="#collapseEight" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed"><span class="counting-box">13</span> <span class="panel-title">Название категории</span></a></h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="collapseEight">
                                            <div class="panel-body">
                                                <ul>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-caret-right"></span>Название подкатегории</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>{% endcomment %}
                                </div>
                                {% endfor %}
                            </div>
                            {% comment спец предложение%}<div class="top-rated-prodect-box">
                                <div class="filter-title">
                                    <h3>Спец. предложения</h3>
                                </div>
                                <div class="top-rated-items">
                                    <ul class="item-body">
                                        <li class="overlay"><img src="images/shop-2/top-rated-1.png" alt="top-item-1" class="img-responsive">
                                        </li>
                                        <li>
                                            <ul class="item-details">
                                                <li><a href="#"><h4>название товара</h4></a>
                                                </li>
                                                <li><a href="#"><h4 class="price">700 р.</h4></a>
                                                </li>
                                                <li>
                                                    <p class="ratings">
                                                        <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs">
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="item-body">
                                        <li class="overlay"><img src="images/shop-2/top-rated-2.png" alt="top-item-1" class="img-responsive">
                                        </li>
                                        <li>
                                            <ul class="item-details">
                                                <li><a href="#"><h4>название товара</h4></a>
                                                </li>
                                                <li><a href="#"><h4 class="price">700 р.</h4></a>
                                                </li>
                                                <li>
                                                    <p class="ratings">
                                                        <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs">
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="item-body">
                                        <li class="overlay"><img src="images/shop-2/top-rated-3.png" alt="top-item-1" class="img-responsive">
                                        </li>
                                        <li>
                                            <ul class="item-details">
                                                <li><a href="#"><h4>название товара</h4></a>
                                                </li>
                                                <li><a href="#"><h4 class="price">700 р.</h4></a>
                                                </li>
                                                <li>
                                                    <p class="ratings">
                                                        <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs">
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="item-body">
                                        <li class="overlay"><img src="images/shop-2/top-rated-4.png" alt="top-item-1" class="img-responsive">
                                        </li>
                                        <li>
                                            <ul class="item-details">
                                                <li><a href="#"><h4>название товара</h4></a>
                                                </li>
                                                <li><a href="#"><h4 class="price">700 р.</h4></a>
                                                </li>
                                                <li>
                                                    <p class="ratings">
                                                        <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs">
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul><a href="#"><h4 class="see-all-link">смотреть еще</h4></a>
                                </div>
                            </div>{% endcomment %}
                            {% comment %}<div class="testimonials-box">
                                <div class="filter-title">
                                    <h3>Отзывы</h3>
                                </div>
                                <div id="testimonial" class="testimonial-slider">
                                    <div class="testimonial-item">
                                        <p>Высокая информативность экономит рекламный бриф. Визуализация концепии, безусловно, изящно охватывает эксклюзивный метод изучения рынка. Стратегия предоставления скидок</p>
                                        <h3>Иван Дионтьев</h3>
                                        <h4>специалист</h4>
                                    </div>
                                    <div class="testimonial-item">
                                        <p>Высокая информативность экономит рекламный бриф. Визуализация концепии, безусловно, изящно охватывает эксклюзивный метод изучения рынка. Стратегия предоставления скидок</p>
                                        <h3>Иван Дионтьев</h3>
                                        <h4>специалист</h4>
                                    </div>
                                </div>
                            </div>{% endcomment %}
                        </div>
                        <div class="col-md-9 col-sm-9">
                            {% comment %}<div class="row">
                                <div class="col-md-12">
                                    <div class="item-panel">
                                        <div class="row margin-hide">
                                            <div class="col-md-4 col-sm-4 padding-left-hide">
                                                <a data-rel="prettyPhoto" href="images/shop-2/1.png" title="Название товара" class="img-body"></a> <img src="images/shop-2/1.png" alt="" class="img-responsive">
                                            </div>
                                            <div class="col-md-8 col-sm-8 padding-right-hide">
                                                <div class="offer-box">
                                                    <h3>-50%</h3>
                                                    <h3>Акция</h3>
                                                </div><a href="#"><h3>название товара</h3></a>
                                                <h4>500 р.</h4>
                                                <h5>категория</h5>
                                                <p>Высокая информативность экономит рекламный бриф. Визуализация концепии, безусловно, изящно охватывает эксклюзивный метод изучения рынка. Стратегия предоставления скидок</p>
                                                <p class="ratings">
                                                    <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs"><span>- рейтинг товара</span>
                                                </p>
                                                <ul>
                                                    <li class="show-link"><a href="#"><span>Подробнее..</span></a><span class="fa fa-angle-right right-icon"></span>
                                                    </li>
                                                    <li class="add-to-card"><span class="fa fa-shopping-cart"></span><a href="#"><span>В корзину</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>{% endcomment %}

                            <!---->
                        <div>
                            {% for goodss in goods %}

                                <!--start block-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="item-panel">
                                            <div class="row margin-hide">
                                                <div class="col-md-4 col-sm-4 padding-left-hide">
                                                    <a data-rel="prettyPhoto" href="images/shop-2/1.png" title="Название товара" class="img-body"></a>
                                                    <img src="{{MEDIA_URL}}{{ goodss.4 }}" alt="" class="img-responsive">
                                                </div>
                                                <div class="col-md-8 col-sm-8 padding-right-hide">
                                                    <div class="offer-box">
                                                        <h3>-50%</h3>
                                                        <h3>Акция</h3>
                                                    </div><a href="#"><h3>{{ goodss.1 }}</h3></a>
                                                    <h4>{{ goodss.3 }} р.</h4>
                                                    <h5>{{ goodss.2 }}</h5>
                                                    <p>{{ goodss.5 }}</p>
                                                    <p class="ratings">
                                                        <input value="2" type="number" class="rating" min="0" max="5" step="0.5" data-size="xs"><span> рейтинг товара</span>
                                                    </p>
                                                    <ul>
                                                        <li class="show-link"><a href="{% url "show" %}?i={{ goodss.0 }}"><span>Подробнее..</span></a><span class="fa fa-angle-right right-icon"></span>
                                                        </li>
                                                        <li class="add-to-card"><span class="fa fa-shopping-cart"></span><a href="#"><span>В корзину</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                                <!--end block-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
{% endblock content %}
{% block brands %}{% endblock brands %}
{% block additions %}{% endblock additions %}
