@font-face{
    font-family:'OpenSans';
    src: url(../font/OpenSans.ttf);
}

html{
    overflow-x: hidden;
}
/*.navbar-default{*/
/*    height: 85px;*/
/*}*/
.filteer_my{
    -webkit-border-radius: 0;
    color: #9e9292;
    padding: 5px 25px;
    border: 1px solid #d2d2d2;
    min-width: 130px;
    width: 100%;
    text-align: center;
}
.category-buttons_my{
    margin-top: 30px;
    margin-left: -100px;
    margin-bottom: 30px;
}
.parrent_img{
    display: flex;
    width: 600px;
    margin-left: -65px;
}
/*grid on main*/

.my_row{
    display: grid;
    grid-template-rows: 292px 292px;
    /*grid-template-columns: 270px 270px 270px 270px;*/
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 0%; /*отступы в столбце*/
    grid-row-gap: 4%; /*отступы в ряде*/

}
div .my_row{
    height: 1181px;
}

.img-responsive {
    height: 180px;
    width: 100%;
}
.chaild_grid{
     margin-top: 5px;
     margin-right: 20px;
     height: 445px;
 }
/*grid on categ*/
.my-project-grid{
    display: grid;
    grid-template-rows: 370px 370px 370px;
    grid-template-columns: 300px 300px 300px 300px;
    /*width: 1650px;*/
    margin-top: 50px;
    margin-left: 10%;
}



.proj-our{
    /*display: grid;*/
    /*grid-template-rows: 390px 390px 390px;*/
    /*grid-template-columns: 320px 320px 320px;*/
    /*width: 80% !important;*/
    height: 90%;
    margin: 0 auto;
    margin-top: 5px;
    margin-right: 20px;
    /*height: 445px;*/
}
/*.children{*/
/*    margin-top: 5px;*/
/*    margin-right: 20px;*/
/*    height: 445px;*/
/*}*/
.main_img{
    z-index: 1;
    height: 637px;
    width: 97%;
    cursor: pointer;

}

.similar-products{
    margin-top: 2% !important;
    margin-left: 1% !important;
    font-size: 25px !important;
    color: gray !important;
}
.bt-show{
    color: #FFFFFF;
    text-align: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 28%;
    max-width: 200px;
    margin: 0 auto;
    /* margin-left: 75%; */
    display: inline-block;
    padding: 6px 12px;
    font-family: 'Lora';
    border: 1px solid #38486F !important;
    background: #38486F;
    display: block;
    margin-top: 6%;
    margin-right: 18%;
    margin-bottom: 7%;
}
.bt-show:hover{
    background: white !important;
    border: 1px solid #38486F !important;
    color: #38486F;
    cursor: pointer;
}

.product-slider{
    height: 1000px;
}
.arrow_right{
    z-index: 2;
    display:none;
    margin-top: 200px;
    width: 60px;
    margin-left: -50px;
    cursor: pointer;
}
.arrow_left{
    z-index: 2;
    /*display:none;*/
    margin-top: 200px;
    width: 60px;
    cursor: pointer;
}

.img_arrow_left{
    margin-left: 30px;
}

.big-detail .first:hover~.arrow_right,.arrow_right:hover  {
    display:block;
}

.my_container{
    max-width: 1355px;
    max-height: 1200px;
    margin: 0 auto;
}

.owl-wrapper-outer{
    width: 570px;
}

.prev-div{
    display: none;
}

.next-div{
    display: none;
}
.big-photo{
    cursor: pointer;
    position: relative;
    z-index: 0;
    width: 100%;
}

.main-big-photo{
    /*display: flex;*/
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -74px;
    /*z-index: 1;*/
}

/*.main-big-photo:hover{*/
/*    display: block;*/
/*    position: relative;*/
/*    !*z-index: 1;*!*/
/*}*/

/*.main-big-photo:hover .prev-div{*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 35%;*/
/*    !*color: orange;*!*/
/*    !*font-size: 100px;*!*/
/*    !*font-weight: bolder;*!*/
/*    z-index: 1;*/
/*    margin-top: 10px;*/
/*    cursor: pointer;*/
/*}*/
.img-big-left{
    margin-left: -7px;
    margin-top: 65px;
}
.img-big-right{
    margin-left: 560px;
    margin-top: 27px;
}
/*.main-big-photo:hover .next-div{*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 35%;*/
/*    color: orange;*/
/*    font-size: 100px;*/
/*    font-weight: bolder;*/
/*    z-index: 1;*/
/*    margin-left: 523px;*/
/*    cursor: pointer;*/
/*}*/

.cont_flat_image{
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
    grid-template-rows: 17%; /* 250px 250px 250px;*/
    /*width: 50%;*/
    height: 847px;
    overflow: hidden; /* прячем фото в описани товра в слайдере под большим фото*/
    width: 100%;
    grid-column-gap: 1.2%; /*отступы в столбце*/
    grid-row-gap: 1%; /*отступы в ряде*/
    /*overflow: hidden;*/
    padding-top: 6px;
}

#top-sales-slider{
    width: 75%;
    margin: 0 auto;
}
/*.small_image_for{*/
/*    height: 80px;*/
/*    width: 140px;*/
/*}*/

.img_small{
    height: 130px;
    width: 150px;
    vertical-align: revert;
    margin-top: 8px;
}
.site-logo a{
    padding: 0 !important;
}
.navbar-right{
    margin-right: 0 !important;
}
.header-top .navbar-right li.cart{
    padding-right: 0 !important;
}
/*.navbar-right{*/
/*    padding-right: 2%;*/
/*}*/
    /*#show_button{*/
/*    display: none;*/
/*}*/

/*#show_button.visible {*/
/*    display: block;*/
/*}*/

#show_button {
    padding: 0;
    border: none;
    /*font: inherit;*/ /*пришлось закоментить чтоб появился ихний крестик*/
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
      считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

.my_container{
    /* padding-right: 15px; */
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav>li>a{
    padding: 0px !important;
}

/*.my_prod{*/
/*    !*width: 600px;*!*/
/*    !*margin-left: -15px;*!*/
/*}*/

.my_right_block{
    /*padding-left: 100px;*/

}
.my_prod_grid{
    margin: 0 auto;
    /* margin-left: 33%; */
    display: grid;
    justify-content: space-around;
    /* justify-items: center; */
    grid-template-columns: 25% 25% 25%;
    /* grid-template-columns: 50% 50%; */
    grid-template-rows: 50% 50%;
    width: 64%;
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
}
.chaild_prod-2{
    width: 50%;
    margin: 5px -486px 4px 14px;
}
.name_show{
    color: green;
    font-size: 30px;
    font-weight: bold;
}
.cat_show {
    color: gray;
    font-size: 30px;
    font-weight: bold;
}
.price_show{
    color: green;
    font-size: 30px;
    font-weight: bold;
}
.teg_show{
    color: gray;
    padding-top: 0px;
    font-size: 22px;
}

.row_show{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-left: 5%;
    /*padding-top: 6%;*/
}
.row-desc{

}
.col-sm-4-show {
    width: 27%;
    padding: 5px 6px 7px 4px;
    margin: 0 auto;
}
/*p.text-categ{*/
/*    font-size: 22px;*/
/*}*/
#shop-detail .product-detail .product-description .category-tags p{
    font-size: 22px;
}
.my_right_block p{
    font-size: 20px;
}
.grid-footer{
    display: grid;
    grid-template-columns: 58px 58px 58px 58px 58px 58px;
    grid-template-rows: 58px 58px 58px 58px; /* 250px 250px 250px;*/
    grid-column-gap: 5px; /*отступы в столбце*/
    grid-row-gap: 15px; /*отступы в ряде*/
    /*margin-top: 5px;*/
}

.name_prod{
    margin-top: 45px;
    font-size: 20px
}


.nema{
    font-size: 25px;
    color: #0000FF;
    font-family: Lora;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.button_dell{
    margin-bottom: -30px;
}

.rub_span{
    display: flex;
    align-items: center; /*os y*/
    justify-content: space-around;
    width: 70px;
    padding-top: 20px !important;
    margin-left: 50px;
}

.rub_span span{
    padding-top: 15px !important;
}

.rub_span h3{
    padding-top: 5px !important;
}

.main_summ_span{
    display: flex;
    align-items: center; /*os y*/
    justify-content: space-around;
    width: 70px;
    padding-left: 150px;
}

/*modal*/
.myModal{
    background: gray;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    display: none;
}
/*Class open close modal*/
.visible{
    display: block;
}

/* Modal Content */
.modalContent{
    margin: auto;
    padding: 100px;
    width: 80%;

}

.my_modal_bootstrap{
    top: 40%;
    display: block;
    margin: 0 auto;
}
/*.parent_ul{*/
/*    display: grid;*/
/*    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;*/
/*    grid-template-rows: 65px 65px 65px;*/
/*}*/

.my_modal_bootstrap {
    top: 200%;
}

.img_modal{
    width: 100%;
    /*height: 102%;*/
    display: block;
    margin: 0 auto;
}

/*.prev-div-index{*/
/*    cursor: pointer;*/
/*}*/

/*.next-div-index{*/
/*    cursor: pointer;*/
/*}*/


.prev-div-index{
    display: none;

}

.next-div-index{
    display: none;
}

.modal-content:hover .prev-div-index{
    font-family: Arial;
    display: inline-block;
    position: absolute;
    top: 43%;
    color: #4f5b69;
    font-size: 30px;
    font-weight: lighter;
    z-index: 1;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.modal-content:hover .next-div{
    display: inline-block;
    position: absolute;
    top: 43%;
    color: #4f5b69;
    font-size: 30px;
    font-weight: lighter;
    z-index: 1;
    margin-left: 550px;
    cursor: pointer;
}

.my-close{
    /*margin-top: -400px;*/
    color: red;
    font-size: 100px;
    margin-top: -400px;
    /*position: absolute;*/
}

.my-close{
    border: none !important;
    outline: none !important;
}

/*Как сделать - различные фигуры Источник <https://html5css.ru/howto/howto_css_shapes.php> */
/*.triangle-left {*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-top: 15px solid transparent;*/
/*    border-right: 30px solid black;*/
/*    border-bottom: 15px solid transparent;*/
/*}*/

/*.triangle-right {*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-top: 15px solid transparent;*/
/*    border-left: 30px solid black;*/
/*    border-bottom: 15px solid transparent;*/
/*}*/


/*i {*/
/*    border: solid black;*/
/*    border-width: 0 3px 3px 0;*/
/*    display: inline-block;*/
/*    padding: 3px;*/
/*}*/

.triangle-right{
    border: solid lightgrey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.triangle-left {
    border: solid lightyellow;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.filter-print-price a h4{
    margin-top: 10px !important;
    width: 193px;
    height: 37px;
}

.filter-print-price input {
    border: 2px solid #2b669a;
}

.filter-print-price input:invalid {
    border: 2px solid red;
}
.text_null_search{
    font-size: 25px;
    color: #0000FF;
    font-family: Lora;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.button-height{
    height: 47px;
}
.input-height{
    height: 47px;
}

.form-signin input[type="text"]{
    margin-bottom: 10px !important;
}

.form-signin input[type="email"]{
    margin-bottom: 10px !important;
}
.errorlist li{
    color: red;

}
.errorlist li{
    list-style: none;
    padding-left: 0;
}

.errorlist{
    padding-left: 0;
}

.send-button-my{
    padding-left: 16px !important;
}

.order-inal{
    margin: 28px 0 0 32%;
    width: 41%;
}

.issue-order{
    margin-left: 300px;
    width: 46%;
}
.for_buy{
    margin: 24px 8px 0 49px;
    text-align: center;

}
.for_buy-order{
    font-size: 18px;
    color: #0000FF;
    font-family: 'Lora';
    font-width: 18px ;
    text-align: center;
    margin: 0 0 0 625px;
    /*color: #0000FF;"*/
}

/* style="text-align: center; margin:0 auto; color: #0000FF;" */
.for_buy>div{
    font-size: 15px;
    color: #0000FF;
    font-family: 'Lora';
    font-width: 10px ;
}
.for_buy>div>a{
    font-size: 18px;
    color: #0000FF;
    font-family: 'Lora';
    font-width: 12px ;
}

.our_container{
    width: 80%;
    margin: 0 auto;
}
.pro_het{
    height: 25px;
    overflow: hidden;
    display: block;
}

.my-works-section{
    height: 350px;
    max-height: 1200px;
}
.my-fa{
    font-size: 10px;
}
.my-col-6 {
    padding-right: 0px;
    padding-left: 3px;
}
/*---------------[Lk-----*/
.center-tables-lk{
    /*display: block;*/
    margin: 2% 3% 3% 25%;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*class="col-sm-4"*/
.grid-lk{
    height: 100vh; /*высота в процентах*/
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px;
    grid-column-gap: 10px; /*отступы в столбце*/
    grid-row-gap: 10px; /*отступы в ряде*/
    margin-left: 100px;
    margin-top: 150px;
}
.submit_a_request-less{
    background-color: #f3f3f3; /* цвет фона */
    color: lightslategrey; /* Белые буквы */
    font-size: 13pt; /* Размер шрифта в пунктах */
    height: 200px;
    margin-left: 150px;
    /*border: 0.5px solid red;*/
    border-radius: 5px ;
    margin-top: 30px;
    width: 200px;
    text-align: center;

}

/*------------------flex-lk---------------------*/


.content-lk{
    margin: 3% 0% 1% 3%;
}
div.child-active-lk{
    margin-left: 1%;
}
.parent_lk{
    display: flex;
    align-items: stretch;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
.child-active-lk{
    /*align-self: flex-start;*/
    /*width: 30%;*/
    font-size: 30px;
    font-weight: bold;

}
.child_lk{
    /*width: 5%;*/
    margin: 10px 10px;
    border-radius: 5px
    /*font-family: 'Lora';*/
}
div.child_lk>div{
    font-family: 'Lora';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.img-lk{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}
/*------------------кнопка-lk---------------------*/

.border-lk{
    border: 1px solid #032e2a;
    padding: 10px;
}

.button-lk{
    padding: 8px 24px;
    margin: 0 1270px;
    border: whitesmoke;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: currentColor;
}

input.button-lk {
    position: -webkit-sticky;
    position: sticky;
    top: 36%;
    background: #222832;
    color: whitesmoke;
    padding: 20px;
    border-radius: 50%;
    margin: 0 0 0 94%;
}
/*.inner_content{*/
/*    margin-bottom: -219px;*/
/*    margin-left: -41px;*/
/*}*/

.dropdown-toggle-my{
    padding-bottom: 0;
    padding-top: 0;
}

.my_filter-print-price{
    display: flex;
    justify-content: space-around;
    width: 84%;
    flex-wrap: wrap;
}

#input_first{
    width: 35%;
    height: 35px;
}
#input_second{
    width: 35%;
    height: 35px;
}
.my_filter-print-price input{

}
.my_filter_price{

}


.page-desc {
    background: #f2f2f2 ;
}
.my_container_media {
    width: 65%;
    margin: 10% 0% 3% 22%;
}
.my_row{
    /*display: grid;*/
    /*margin: 0 auto;*/
    /*grid-template-rows: 33% 33% 33%;*/
    /*!* grid-template-columns: 270px 270px 270px 270px; *!*/
    /*grid-template-columns: 33% 33% 33%;*/
    display: grid;
    margin: 0 auto;
    /*grid-template-rows: 33% 33%;*/
    /*grid-template-columns: 270px 270px 270px 270px;*/
    grid-template-columns: 45% 45%;
    width: 74%;
    justify-content: center;
    grid-template-rows: 291px 291px 291px 291px 291px 291px;
    /*grid-template-columns: 300px 300px 300px 300px;*/
    grid-column-gap: 0%;
    grid-row-gap: 4%;
}

div .my_row {
    height: 1362px;
}
.my_container-index{
    height: 2018px;
    margin: 0 auto;
}
input.button-lk {
    margin: 0 0 0 82% !important;
    top: 50% !important;
}
.pagination{
    margin: 0 auto;
    display: block;
    width: 35%;
}
.pagin-down{
    margin-top: 744px;
    margin-left: 5%;
}
.my_work-area-index{
    margin-top: 36% !important;
    padding-bottom: 60px !important;
}
.top-slider, #video-bg .work-area{
    margin-top: 0;
}
.my_responsive{
    width: 100%;
    height: 160px;
}
.my_margin-hide{
    height: 160px;
}
.my_show-link{
    margin: 0;
    padding: 11px 0px 0px !important;
}
.my_contex{
    margin: 18px 10px 0px 15px !important;
}
.categ_name{
    margin-left: 2%;
}
.categ_price{
    margin-left: 2%;
}
.categ_categ {
    margin-left: 2%;
}
.flex-array{
    display: flex;
    justify-content: space-between;
    /*width: 870px;*/
    width: 98%;
    height: 500px;
    margin-top: -417px;
    position: relative;
    z-index: 10;
}

.my_show_row{
    margin: 0 auto;
}