{% load static %}

{% if is_paginated %}
    {% load i18n %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev pagination__link_state_active pagination__link line_null array">{% trans " < " %}</a>
        {% else %}
            <span class="disabled prev pagination__link_state_active pagination__link line_null"> {% trans "Первая" %}</span>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <!-- Вот здесь в вашем случае выводится текущая страница -->
                    <!-- можно добавить <b> или <strong> или попросту ничего не -->
                    <!-- перегружать, а описать класс current -->
                    <span class="current page pagination__link_state_active pagination__link">{{ page }}</span>
                {% else %}
                    <a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page pagination__link_state_active pagination__link">
                        {{ page }}</a>
                {% endifequal %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"
               class="next pagination__link_state_active pagination__link line_null array">{% trans " > " %}</a>
        {% else %}
            <span class="disabled next pagination__link_state_active pagination__link line_null">{% trans "Последняя" %}</span>
        {% endif %}
    </div>
{% endif %}