<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap  -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- CSS  -->
    {% comment %}<link href="{% static "shop_app/css/base.css" %}" rel="stylesheet">{% endcomment %}

</head>
<body>
{% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="http://127.0.0.1:8000/main/">Главная</a>
        <a class="navbar-brand" href="http://127.0.0.1:8000/main/category/">Категории</a>
        <a class="navbar-brand" href="http://127.0.0.1:8000/main/goods/">Товары</a>
        <a class="navbar-brand" href="http://127.0.0.1:8000/main/contacts/">Контакты</a>
        <a class="navbar-brand" href="http://127.0.0.1:8000/main/gallery/">Галерея</a>
        <a class="navbar-brand" href="http://127.0.0.1:8000/main/shop_orders/">Корзина</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Категории <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Товары</a>
                </li>

            </ul>

        </div>-->
    </nav>
{% endblock %}
<div class="container">
                {% block content %}
                {% endblock %}
</div>
     <div class="container mt-5">
        <div class="row">
            <div class="col-6 offset-md-2"> </div>
        </div>
    </div>


{% block paginator %}{% endblock %}

  <!-- JS  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      {% comment %}
      $(document).ready(function () {
        <a class="navbar-brand" href="http://127.0.0.1:8000/main/shop_billing/">Мои Заказы</a>
});
<script src="{% static "shop_app/js/script.js" %}" rel="stylesheet"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

{% endcomment %}

</body>
</html>