{% extends "base.html" %}
{% load static %}
<title>{% block title %}Статьи{% endblock %}</title>

{% block video-baner %}
{% endblock video-baner %}
{#{% block header-top %}#}
{#{% endblock header-top %}#}
{% block content %}


<body id="blog-two-columns" class="blog-classic">
    <div id="pageloader">
        <div class="loader-item fa fa-spin colored-border"></div>
    </div>

    {% comment %}
{#    <div class="header-top">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="navbar">#}
{#                        <div class="navbar-header">#}
{#                            <ul class="header-top-left">#}
{#                                <li class="dropdown collapse navbar-collapse" id="bs-example-navbar-collapse-1">Язык<a class="dropdown-toggle" data-toggle="dropdown" href="#">[ <span>RU<i class="fa fa-angle-down"></i></span> ]</a>#}
{#                                    <ul class="dropdown-menu" role="menu">#}
{#                                        <li><a href="#"><span><img src="images/top-navigation/flag1.jpg" alt="Language-flag"></span>ENG</a>#}
{#                                        </li>#}
{#                                        <li><a href="#"><span><img src="images/top-navigation/flag2.jpg" alt="Language-flag"></span>GER</a>#}
{#                                        </li>#}
{#                                        <li><a href="#"><span><img src="images/top-navigation/flag3.jpg" alt="Language-flag"></span>FRE</a>#}
{#                                        </li>#}
{#                                        <li><a href="#"><span><img src="images/top-navigation/flag4.jpg" alt="Language-flag"></span>ITA</a>#}
{#                                        </li>#}
{#                                        <li><a href="#"><span><img src="images/top-navigation/flag5.jpg" alt="Language-flag"></span>SPA</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li><a href="mailto:email@example.com"><i class="flaticon-black164"></i> mail@mail.com</a>#}
{#                                </li>#}
{#                                <li><a href="#"><i class="flaticon-phone46"></i> +7 123 456 78 90</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="flaticon-list50"></i>#}
{#                            </button>#}
{#                        </div>#}
{#                        <ul class="nav navbar-nav navbar-right section-hidden">#}
{#                            <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>#}
{#                                <ul class="dropdown-menu" role="menu">#}
{#                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">#}
{#                                        <div class="pull-left product"><a href="#">Название товара</a>#}
{#                                            <h5>500 р.</h5>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">#}
{#                                        <div class="pull-left product"><a href="#">Название товара</a>#}
{#                                            <h5>500 р.</h5>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">#}
{#                                        <div class="pull-left product"><a href="#">Название товара</a>#}
{#                                            <h5>500 р.</h5>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li class="total">#}
{#                                        <h5>Итого: 1 500 р.</h5>#}
{#                                    </li>#}
{#                                    <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Опталить</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>#}
{#                            </li>#}
{#                            <li><a href="#">Регистрация</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div id="sticky-section" class="sticky-navigation">#}
{#        <nav class="navbar navbar-default menu-bar" role="navigation">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        <div class="navbar-header">#}
{#                            <div class="site-logo"><a title="" href="index.html">Big retail</a>#}
{#                            </div>#}
{#                            <ul class="nav navbar-nav navbar-right section-show">#}
{#                                <li class="cart"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-shopping-cart"></i>В корзине (3) товара</a>#}
{#                                    <ul class="dropdown-menu" role="menu">#}
{#                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">#}
{#                                            <div class="pull-left product"><a href="#">Название товара</a>#}
{#                                                <h5>500 р.</h5>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">#}
{#                                            <div class="pull-left product"><a href="#">Название товара</a>#}
{#                                                <h5>500 р.</h5>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="clearfix"><i class="fa fa-times pull-right"></i> <img src="images/top-navigation/1.jpg" alt="item-1" class="pull-left">#}
{#                                            <div class="pull-left product"><a href="#">Название товара</a>#}
{#                                                <h5>500 р.</h5>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        <li class="total">#}
{#                                            <h5>Итого: 1 500 р.</h5>#}
{#                                        </li>#}
{#                                        <li class="clearfix checkout"><a href="#" class="pull-left">В корзину</a> <a href="#" class="pull-right">Оплатить</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="login-style"><a href="#"><i class="fa fa-unlock-alt"></i>Вход</a>#}
{#                                </li>#}
{#                                <li class="register-border"><a href="#">Регистрация</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"><span class="menu-box"><span class="menu">Меню</span><i class="flaticon-list50 menu-button"></i>#}
{#                                </span>#}
{#                            </button>#}
{#                        </div>#}
{#                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">#}
{#                            <ul class="nav navbar-nav navbar-right">#}
{#                                <li class="dropdown"><a href="#" class="dropdown-toggle">Главная</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-1"><i class="fa fa-angle-down"></i></span>#}
{#                                    <ul role="menu" class="dropdown-menu collapse-1 collapse">#}
{#                                        <li><a href="index.html">Главная #1</a>#}
{#                                        </li>#}
{#                                        <li><a href="index-2.html">Главная #2</a>#}
{#                                        </li>#}
{#                                        <li><a href="index-3.html">Главная #3</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="dropdown"><a href="#" class="dropdown-toggle">О нас</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-2"><i class="fa fa-angle-down"></i></span>#}
{#                                    <ul role="menu" class="dropdown-menu collapse-2 collapse">#}
{#                                        <li><a href="about-us.html">О компании</a>#}
{#                                        </li>#}
{#                                        <li><a href="services.html">Услуги</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="dropdown"><a href="#" class="dropdown-toggle">Товары</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-3"><i class="fa fa-angle-down"></i></span>#}
{#                                    <ul role="menu" class="dropdown-menu collapse-3 collapse">#}
{#                                        <li class="dropdown"><a href="shop-list.html" class="dropdown-toggle">Магазин</a> <span class="submenu-toggler collapsed" data-toggle="collapse" data-target=".collapse-4"><i class="fa fa-angle-right"></i></span>#}
{#                                            <ul role="menu" class="sub-menu collapse-4 collapse">#}
{#                                                <li><a href="shop-list.html">Список товаров</a>#}
{#                                                </li>#}
{#                                                <li><a href="shop-detail.html">Описание товара</a>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                        <li><a href="cart.html">Корзина</a>#}
{#                                        </li>#}
{#                                        <li><a href="fast_check-out.html">Оплата</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="dropdown"><a href="#" class="dropdown-toggle">Галерея</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>#}
{#                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">#}
{#                                        <li><a href="category.html">Портфолио</a>#}
{#                                        </li>#}
{#                                        <li><a href="portfolio-single.html">Описание</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="dropdown"><a href="#" class="dropdown-toggle active">Новости</a> <span class="menu-toggler collapsed" data-toggle="collapse" data-target=".collapse-6"><i class="fa fa-angle-down"></i></span>#}
{#                                    <ul role="menu" class="dropdown-menu collapse-6 collapse">#}
{#                                        <li><a href="article_list-bac.html">Новости</a>#}
{#                                        </li>#}
{#                                        <li><a href="article_detail-bac.html">Описание</a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li><a href="contacts.html">Контакты</a>#}
{#                                </li>#}
{#                                <li class="search"><a href="#search-toggle-right" id="search-toggle"><i class="glyphicon glyphicon-search"></i></a>#}
{#                                </li>#}
{#                                <li class="search-form">#}
{#                                    <form role="search" class="navbar-form">#}
{#                                        <div class="input-group">#}
{#                                            <input type="text" name="q" placeholder="Искать.." class="form-control">#}
{#                                            <div class="input-group-btn">#}
{#                                                <button type="submit" class="btn btn-default">ОК</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </nav>#}
{#    </div>#}{% endcomment %}
    <div class="page-desc-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-desc">
                    <h2 class="animated" data-animation="fadeInRight" data-animation-delay="300">Новости</h2>
                    <p class="animated" data-animation="fadeInLeft" data-animation-delay="300">Производство достижимо в разумные сроки. Поэтому перераспределение бюджета</p>
                </div>
            </div>
        </div>
    </div>
    <section class="blog-post">
        <div class="container">

            <div class="row">

                    {% for article in object_list %}
                        <div class="col-md-12">

                        <div class="thumbnail">
                            <div class="img-box">
                                <div class="img-block"><img src="{{ MEDIA_URL }}{{ article.img }}" alt="blog" class="img-responsive img-responsive-art" >
                                    <div class="blog-date">
                                        <h2>{{ article.date|date:"d" }}</h2>
                                        <p>{{ article.date|date:"M" }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <h3>{{ article.title }}</h3>
                                <p>{{ article.body|truncatewords:40|linebreaks }}</p><a href="{% url 'articles:article_detail' pk=article.pk %}" class="read-more">Подробнее</a>
                                <ul class="post-details">
                                    <li>
                                        <p><i class="fa fa-user"><span>Автор:</span></i><a href="#">{{ article.author }}</a>
                                        </p>
                                    </li>
    {#                                <li>#}
    {#                                    <p><i class="fa fa-comments"><span>Комментарии:</span></i><a href="#">5</a>#}
    {#                                    </p>#}
    {#                                </li>#}
    {#                                <li>#}
    {#                                    <p><i class="fa fa-folder"><span>Категория:</span></i><a href="#">Новости</a>#}
    {#                                    </p>#}
    {#                                </li>#}
                                </ul>
                            </div>
                        </div>


                        </div>
                    {% endfor %}

            </div>

            {% comment %}
{#                <div class="col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="300">#}
{#                    <div class="thumbnail">#}
{#                        <div class="img-box">#}
{#                            <div class="img-block"><img src="images/blog-2/2.jpg" alt="blog" class="img-responsive">#}
{#                                <div class="blog-date">#}
{#                                    <h2>31</h2>#}
{#                                    <p>Авг</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="caption">#}
{#                            <h3>Заголовок новости</h3>#}
{#                            <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p><a href="article_detail-bac.html" class="read-more">Подробнее</a>#}
{#                            <ul class="post-details">#}
{#                                <li>#}
{#                                    <p><i class="fa fa-user"><span>Автор:</span></i><a href="#">Иван Дионтьев</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p><i class="fa fa-comments"><span>Комментарии:</span></i><a href="#">5</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p><i class="fa fa-folder"><span>Категория:</span></i><a href="#">Новости</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#            <div class="row">#}
{#                <div class="col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="300">#}
{#                    <div class="thumbnail">#}
{#                        <div class="img-box">#}
{#                            <div class="img-block"><img src="images/blog-2/3.jpg" alt="blog" class="img-responsive">#}
{#                                <div class="blog-date">#}
{#                                    <h2>31</h2>#}
{#                                    <p>Авг</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="caption">#}
{#                            <h3>Заголовок новости</h3>#}
{#                            <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p><a href="article_detail-bac.html" class="read-more">Подробнее</a>#}
{#                            <ul class="post-details">#}
{#                                <li>#}
{#                                    <p><i class="fa fa-user"><span>Автор:</span></i><a href="#">Иван Дионтьев</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p><i class="fa fa-comments"><span>Комментарии:</span></i><a href="#">5</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p><i class="fa fa-folder"><span>Категория:</span></i><a href="#">Новости</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-sm-6 animated" data-animation="fadeInUp" data-animation-delay="300">#}
{#                    <div class="thumbnail">#}
{#                        <div class="img-box">#}
{#                            <div class="img-block"><img src="images/blog-2/4.jpg" alt="blog" class="img-responsive">#}
{#                                <div class="blog-date">#}
{#                                    <h2>31</h2>#}
{#                                    <p>Авг</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="caption">#}
{#                            <h3>Заголовок новости</h3>#}
{#                            <p>А вот по мнению аналитиков контекстная реклама ускоряет сублимированный охват аудитории. Практика однозначно показывает, что рейт-карта ускоряет конкурент, повышая конкуренцию.</p><a href="article_detail-bac.html" class="read-more">Подробнее</a>#}
{#                            <ul class="post-details">#}
{#                                <li>#}
{#                                    <p><i class="fa fa-user"><span>Автор:</span></i><a href="#">Иван Дионтьев</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p><i class="fa fa-comments"><span>Комментарии:</span></i><a href="#">5</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <p><i class="fa fa-folder"><span>Категория:</span></i><a href="#">Новости</a>#}
{#                                    </p>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <!-- здесь был див закрывающий 4 статьи 20.12.2020-->
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12 animated" data-animation="fadeInUp" data-animation-delay="500">#}
{#                    <ul class="pagination">#}
{#                        <li><a href="#"><i class="fa fa-2x fa-angle-left"></i></a>#}
{#                        </li>#}
{#                        <li><a href="#">1</a>#}
{#                        </li>#}
{#                        <li><a href="#">2</a>#}
{#                        </li>#}
{#                        <li><a href="#">3</a>#}
{#                        </li>#}
{#                        <li><a href="#">4</a>#}
{#                        </li>#}
{#                        <li><a href="#">5</a>#}
{#                        </li>#}
{#                        <li><a href="#"><i class="fa fa-2x fa-angle-right"></i></a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section id="footer" class="footer-bg">#}
{#        <div class="footer-section">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-sm-3 animated" data-animation="fadeInUp" data-animation-delay="300">#}
{#                        <h3>О магазине</h3>#}
{#                        <p>Ретроконверсия национального наследия реально изменяет формирование имиджа. Еще Траут показал, что мониторинг активности вполне вероятен. Узнавание бренда экономит тактический инструмент маркетинга.</p>#}
{#                        <ul>#}
{#                            <li>Россия, Москва</li>#}
{#                            <li>ул. Пушкина 23а</li>#}
{#                            <li>mail@mail.com</li>#}
{#                            <li>+7 123 456 789</li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">#}
{#                        <h3>Последние статьи</h3>#}
{#                        <ul>#}
{#                            <li><a href="#">Загловок статьи на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок статьи на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок статьи на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок статьи на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок статьи на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок статьи на сайте</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="col-sm-3 latest-post animated" data-animation="fadeInUp" data-animation-delay="700">#}
{#                        <h3>Последние новости</h3>#}
{#                        <ul>#}
{#                            <li><a href="#">Загловок новости на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок новости на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок новости на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок новости на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок новости на сайте</a>#}
{#                            </li>#}
{#                            <li><a href="#">Загловок новости на сайте</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="col-sm-3 flickr animated" data-animation="fadeInUp" data-animation-delay="900">#}
{#                        <h3>Галерея</h3>#}
{#                        <ul>#}
{#                            <li><img src="images/flickr/1.jpg" alt="flickr-1" class="img-responsive">#}
{#                            </li>#}
{#                            <li><img src="images/flickr/2.jpg" alt="flickr-1" class="img-responsive">#}
{#                            </li>#}
{#                            <li><img src="images/flickr/3.jpg" alt="flickr-1" class="img-responsive">#}
{#                            </li>#}
{#                            <li><img src="images/flickr/4.jpg" alt="flickr-1" class="img-responsive">#}
{#                            </li>#}
{#                            <li><img src="images/flickr/5.jpg" alt="flickr-1" class="img-responsive">#}
{#                            </li>#}
{#                            <li><img src="images/flickr/6.jpg" alt="flickr-1" class="img-responsive">#}
{#                            </li>#}
{#                            <li><img src="images/flickr/7.jpg" alt="flickr-1" class="img-responsive">#}
{#                            </li>#}
{#                            <li><img src="images/flickr/8.jpg" alt="flickr-1" class="img-responsive">#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="copy-rights-bg">#}
{#            <div class="copy-rights-section">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-sm-6">#}
{#                            <p class="copyright-content">&copy; 2016 Big retail - HTML шаблон интернет-магазина</p>#}
{#                        </div>#}
{#                        <div class="col-sm-6">#}
{#                            <div class="social-icon"><a href="#"><i class="fa fa-rss rss-icon"></i></a> <a href="#"><i class="fa fa-facebook facebook-icon"></i></a> <a href="#"><i class="fa fa-tumblr tumblr-icon"></i></a> <a href="#"><i class="fa fa-youtube youtube-icon"></i></a> <a href="#"><i class="fa fa-google google-icon"></i></a> <a href="#"><i class="fa fa-dribbble dribble-icon"></i></a> <a href="#"><i class="fa fa-vimeo-square vimeo-icon"></i></a> <a href="#"><i class="fa fa-skype skype-icon"></i></a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>#}
{#    <script type="text/javascript" src="js/bootstrap.min.js"></script>#}
{#    <script type="text/javascript" src="js/bootstrapValidator.min.js"></script>#}
{#    <script type="text/javascript" src="js/owl.carousel.min.js"></script>#}
{#    <script type="text/javascript" src="js/jquery.sticky.js"></script>#}
{#    <script type="text/javascript" src="js/carousel.min.js"></script>#}
{#    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>#}
{#    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>#}
{#    <script type="text/javascript" src="js/star-rating.min.js"></script>#}
{#    #}
{#    <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>#}
{#    <script type="text/javascript" src="js/option.js"></script>#}
{#    <script type="text/javascript" src="js/jquery.nstSlider.js"></script>#}
{#    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>#}
{#    <script type="text/javascript" src="js/jquery.appear.js"></script>#}{% endcomment %}

        </div>
</body>
{% endblock content %}

{% block brands %}{% endblock brands %}
{% block js-1 %}
    {#<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>#}

    {#<script type='text/javascript' src='http://test.michalbacak.com/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>#}
    {#<script type='text/javascript' src='http://test.michalbacak.com/wp-content/plugins/ajax-load-more/vendor/js/masonry/masonry.pkgd.min.js?ver=4.2.1'></script>#}
    <script type='text/javascript' src='http://test.michalbacak.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type="text/javascript" src="{% static "big_retail/js/jquery-1.11.1.min.js" %}" rel="stylesheet">var jQuery1111 = $.noConflict(true);</script>
    <script type="text/javascript" src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrap.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrapValidator.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/bootstrap-hover-dropdown.min.js" %}" rel="stylesheet"></script>
    <script type="text/javascript" src="{% static "big_retail/js/owl.carousel.min.js" %}" rel="stylesheet" ></script><!--owl-theme-->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.sticky.js" %}"  rel="stylesheet"></script><!---->

    {#<script type="text/javascript" src="{% static "big_retail/js/carousel.min.js" %}"  rel="stylesheet"></script><!--owl-theme-->#}
    <script type="text/javascript" src="{% static "big_retail/js/slider/jquery.fractionslider.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/slider/main.js" %}" charset="utf-8" rel="stylesheet"></script> <!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.prettyPhoto.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.easy-ticker.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/idangerous.swiper.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/idangerous.swiper.progress.min.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/star-rating.min.js" %}" rel="stylesheet"></script><!---->

    <script type="text/javascript" src="{% static "big_retail/js/jquery.flexslider-min.js" %}" rel="stylesheet"></script><!---->

    <script type="text/javascript" src="{% static "big_retail/js/jquery.content_slider.js" %}" rel="stylesheet"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.easypiechart.min.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/option.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/jquery.nstSlider.js" %}"></script><!---->

    {#    <script type="text/javascript" src="{% static "big_retail/js/jquery.mb.YTPlayer.js" %}"></script><!--2212 минус ошибка-->#}
    <script type="text/javascript" src="{% static "big_retail/js/jquery.appear.js" %}"></script><!---->
    <script type="text/javascript" src="{% static "big_retail/js/main.js" %}"></script><!--без этого не загружается 2212-->

    {#<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>#} <!-- который ломал все-->
    {% comment %}<script type="text/javascript" src="{% static "shop_app/js/script.js" %}" rel="stylesheet"></script>{% endcomment %}

    {#<div id="root"></div>#}
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script><!--2212-->
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script><!--2212-->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script><!--2212-->
{% endblock js-1 %}
{% block react %}{% endblock react %}